.container-fluid(style="min-height: 400px;")
  h1.anchor-static-navbar#gallery
  .page-header
    h1 Galerie
  //- TODO fix me problems on much images
  //- https://github.com/passy/angular-masonry
  //- div(masonry)
  //-   .masonry-brick(ng-repeat="image in images")
  //-     //- a(ui-sref="bootstrap-layout.gallery-slider({slideIndex: $index})")
  //-     //- .img.img-cover(fullscreen, ng-style="aspect(image, 100)", style="background-image:url('/..//images/gallery/full/{{image.original.name}}')")
  //-     .fullscreen-wrapper(ng-style="aspect(image, 100)", title="{{image.name}}", fullscreen="isFullScreen(image)", ng-click="setFullScreen(image)")
  //-       img.img-responsive(ng-src="/images/gallery/full/{{image.original.path}}", width="100%", height="100%")
  //-       i.fa.fa-ellipsis-v.img-dropdown(ng-if="$root.authenticated", bs-dropdown="dropdown", ng-click="$event.stopPropagation();" data-template="bootstrap/dropdown", data-placement="bottom", data-html="true")
  //-       .fullscreen-info(ng-show="isFullScreen(image)")
  //-         h1.fullscreen-header.container-fluid
  //-           | {{image.name}}
  //-         .fullscreen-footer.container-fluid
  //-           p(ng-bind-html="image.description")
  //-         .fullscreen-close(ng-click="closeFullScreen()", title="Schließen")
  //-           i.fa.fa-close
  //- WORKAROUND images like in legacy mode
  div(ng-repeat="image in images")
    div.pull-left(ui-sref="bootstrap-layout.gallery-fullscreen({id:image.id})", style="width:100px;padding:2px")
      img.img-responsive(ng-src="/images/gallery/thumbs/{{image.thumb.name}}")
      i.fa.fa-ellipsis-v.img-dropdown.static(ng-if="$root.authenticated", bs-dropdown="dropdown", ng-click="$event.stopPropagation();" data-template="bootstrap/dropdown", data-placement="bottom", data-html="true")
nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="$root.authenticated")
  .container
    .navbar-left
      p.navbar-text Admininstration
    form.navbar-from.navbar-right
      .btn-group
        button.btn.btn-warning.navbar-btn(ng-if="add", title="Hinzufügen", ng-click="add()")
          i.fa.fa-plus
        button.btn.btn-success.navbar-btn(ng-if="download", title="Herunterladen", ng-click="download()")
          i.fa.fa-download
        button.btn.btn-success.navbar-btn(ng-if="refresh", title="Aktualisieren", ng-click="refresh()")
          i.fa.fa-refresh
        button.btn.btn-success.navbar-btn(ng-if="toogleHtml", title="HTML-Modus umschalten", ng-click="toogleHtml()")
          | HTML
        button.btn.btn-primary.navbar-btn(ng-if="save", title="Speichern", ng-click="save()")
          i.fa.fa-floppy-o
      button.btn.btn-default.navbar-btn(title="Einstellungen", bs-dropdown="adminSettingDropdown", ng-click="$event.stopPropagation();", data-template="bootstrap/dropdown", data-placement="top-left", data-html="true")
        i.fa.fa-cog
