.modal(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header(ng-show='title')
        button.close(type='button', ng-click='$hide()') ×
        h4.modal-title(ng-bind='title')
      .modal-body
        form(role='form')
          .form-group
            label.control-label(for="images") Bilder hochladen
            //- https://github.com/nervgh/angular-file-upload
            .input-group
              span.input-group-btn
                //- hide the browsers ugly upload button http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/
                span.btn.btn-success.btn-file(title="Datei auswählen")
                  i.fa.fa-paperclip
                  input(type="file", nv-file-select, uploader="uploader", multiple)
              //- just upload last selected file
              input#images.form-control(type="text", title="Anhang", readonly, ng-if="uploader.queue.length <= 0", placeholder='Keine Bilder ausgewählt')
              input#images.form-control(type="text", title="Anhang", readonly, ng-if="uploader.queue.length == 1", value="1 Bild ausgewählt")
              input#images.form-control(type="text", title="Anhang", readonly, ng-if="uploader.queue.length > 1", value="{{uploader.queue.length}} Bilder ausgewählt")
              span.input-group-btn
                button.btn.btn-danger(ng-click="uploader.clearQueue()", ng-disabled="uploader.queue.length <= 0", title="Alle Bilder entfernen")
                  i.fa.fa-trash
                button.btn.btn-primary(ng-click="uploader.uploadAll()", ng-disabled="uploader.queue.length <= 0", title="Alle Bilder hochladen")
                  i.fa.fa-upload
          .form-group
            label.control-label(ng-if="uploader.queue.length") Ausgewählte Bilder
            .media(ng-if="uploader.queue.length", ng-repeat="file in uploader.queue")
              a.pull-left(href='#')
                .img.media-object(ng-thumb="{ file: file._file, width: 100, height: 100 }")
              .media-body
                h4.media-heading
                  | {{file._file.name}}
                p
                  | {{file._file.size | bytes}}
                .progress
                  .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='{{file.progress}}', aria-valuemin='0', aria-valuemax='100', ng-style="{ 'width': file.progress + '%' }")
                    | {{file.progress}} %
                p
                  .pull-right
                    button.btn.btn-warning(ng-show="file.isUploading", ng-click="file.cancel()", title="Hochladen abbrechen")
                      i.fa.fa-ban
                    .btn-group(ng-hide="file.isUploading")
                      button.btn.btn-danger(ng-click="file.remove()", title="Entfernen")
                        i.fa.fa-trash
                      button.btn.btn-primary(ng-click="file.upload()", title="Hochladen")
                        i.fa.fa-upload
      .modal-footer
        button.btn.btn-default(type='button', ng-click='$hide()') Schließen
