doctype html
html(lang="en", ng-app="jumplink.cms", ng-controller="AppController", ng-init="$root.authenticated = #{authenticated}")
  head
    base(href="/bootstrap")
    title Nautischer Verein Cuxhaven

    //- Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")

    //- Stylesheets
    link(href='/styles/bootstrap.css', rel='stylesheet')

    //- Templates
    //- general
    script(type="text/ng-template", id="bootstrap/layout"): include ./templates/layout.jade
    script(type="text/ng-template", id="bootstrap/toolbar"): include ./templates/toolbar.jade
    script(type="text/ng-template", id="bootstrap/footer"): include ./templates/footer.jade
    script(type="text/ng-template", id="bootstrap/sidebar"): include ./templates/sidebar.jade
    script(type="text/ng-template", id="bootstrap/adminbar"): include ./templates/adminbar.jade
    script(type="text/ng-template", id="bootstrap/datepicker"): include ./templates/datepicker.jade
    script(type="text/ng-template", id="bootstrap/timepicker"): include ./templates/timepicker.jade
    script(type="text/ng-template", id="bootstrap/dropdown"): include ./templates/dropdown.jade
    //- home
    script(type="text/ng-template", id="bootstrap/home/content"): include ./templates/home/content.jade
    //- gallery
    script(type="text/ng-template", id="bootstrap/gallery/content"): include ./templates/gallery/content.jade
    script(type="text/ng-template", id="bootstrap/gallery/slider"): include ./templates/gallery/slider.jade
    script(type="text/ng-template", id="bootstrap/gallery/toolbar"): include ./templates/gallery/toolbar.jade
    script(type="text/ng-template", id="bootstrap/gallery/editimagemodal"): include ./templates/gallery/editimagemodal.jade
    script(type="text/ng-template", id="bootstrap/gallery/uploadimagesmodal"): include ./templates/gallery/uploadimagesmodal.jade
    //- events
    script(type="text/ng-template", id="bootstrap/events/timeline"): include ./templates/events/timeline.jade
    script(type="text/ng-template", id="bootstrap/events/typechoosermodal"): include ./templates/events/typechoosermodal.jade
    script(type="text/ng-template", id="bootstrap/events/editeventmodal"): include ./templates/events/editeventmodal.jade
    //- members
    script(type="text/ng-template", id="bootstrap/members/content"): include ./templates/members/content.jade
    script(type="text/ng-template", id="bootstrap/members/editmembermodal"): include ./templates/members/editmembermodal.jade
    //- application
    script(type="text/ng-template", id="bootstrap/application/content"): include ./templates/application/content.jade
    //- imprint
    script(type="text/ng-template", id="bootstrap/imprint/content"): include ./templates/imprint/content.jade
    //- links
    script(type="text/ng-template", id="bootstrap/links/content"): include ./templates/links/content.jade
    //- admin
    script(type="text/ng-template", id="bootstrap/administration/settings"): include ./templates/administration/settings.jade
    script(type="text/ng-template", id="bootstrap/administration/users"): include ./templates/administration/users.jade
    script(type="text/ng-template", id="bootstrap/administration/user"): include ./templates/administration/user.jade
  body(ng-class="bodyclass")
    span(ui-view)
    //- es5-shim: ECMAScript 5 compatibility shims for legacy JavaScript engines: https://github.com/es-shims/es5-shim
    script(type="text/javascript", src="/third-party/es5-shim/es5-shim.js")
    script(type="text/javascript", src="/third-party/es5-shim/es5-sham.js")
    //- angular-masonry
    script(type="text/javascript", src="/third-party/jquery/dist/jquery.js")
    script(type="text/javascript", src="/third-party/jquery-bridget/jquery.bridget.js")
    script(type="text/javascript", src="/third-party/get-style-property/get-style-property.js")
    script(type="text/javascript", src="/third-party/get-size/get-size.js")
    script(type="text/javascript", src="/third-party/eventEmitter/EventEmitter.js")
    script(type="text/javascript", src="/third-party/eventie/eventie.js")
    script(type="text/javascript", src="/third-party/doc-ready/doc-ready.js")
    script(type="text/javascript", src="/third-party/matches-selector/matches-selector.js")
    script(type="text/javascript", src="/third-party/outlayer/item.js")
    script(type="text/javascript", src="/third-party/outlayer/outlayer.js")
    script(type="text/javascript", src="/third-party/masonry/masonry.js")
    script(type="text/javascript", src="/third-party/imagesloaded/imagesloaded.js")

    //- angular
    script(type="text/javascript", src="/third-party/angular/angular.js")
    script(type="text/javascript", src="/third-party/angular-i18n/angular-locale_de.js")
    script(type="text/javascript", src="/third-party/moment/moment.js")
    script(type="text/javascript", src="/third-party/angular-moment/angular-moment.js")
    script(type="text/javascript", src="/third-party/moment/locale/de.js")
    script(type="text/javascript", src="/third-party/angular-fullscreen/src/angular-fullscreen.js")
    script(src='/third-party/webodf/webodf-debug.js', type='text/javascript', charset='utf-8')
    script(type="text/javascript", src="/third-party/angular-animate/angular-animate.js")
    script(type="text/javascript", src="/third-party/angular-ui-router/release/angular-ui-router.js")
    script(type="text/javascript", src="/third-party/angular-sanitize/angular-sanitize.js")
    script(type="text/javascript", src="/third-party/angular-touch/angular-touch.js")
    script(type="text/javascript", src="/third-party/angular-strap/dist/angular-strap.js")
    script(type="text/javascript", src="/third-party/angular-carousel/dist/angular-carousel.js")
    script(type="text/javascript", src="/third-party/angular-fullscreen/src/angular-fullscreen.js")

    //- textAngular
    //- script(type="text/javascript", src="/third-party/textAngular/dist/textAngular.min.js")

    //- angular-medium-editor
    script(type="text/javascript", src="/third-party/medium-editor/dist/js/medium-editor.js")
    script(type="text/javascript", src="/third-party/angular-medium-editor/dist/angular-medium-editor.js")

    //- angular-ui-ace
    script(type="text/javascript", src="/third-party/ace-builds/src-noconflict/ace.js")
    script(type="text/javascript", src="/third-party/angular-ui-ace/ui-ace.js")

    //- angular-masonry
    script(type="text/javascript", src="/third-party/angular-masonry/angular-masonry.js")

    //- html, css, javascript beautifier
    script(type="text/javascript", src="/third-party/js-beautify/js/lib/beautify.js")
    script(type="text/javascript", src="/third-party/js-beautify/js/lib/beautify-css.js")
    script(type="text/javascript", src="/third-party/js-beautify/js/lib/beautify-html.js")

    //- angular-leaflet-directive: https://github.com/tombatossals/angular-leaflet-directive
    script(type="text/javascript", src="/third-party/leaflet/dist/leaflet-src.js")
    script(type="text/javascript", src="/third-party/Leaflet.label/dist/leaflet.label-src.js")
    script(type="text/javascript", src="/third-party/angular-leaflet-directive/dist/angular-leaflet-directive.js")

    //- AngularJS-Toaster: https://github.com/jirikavi/AngularJS-Toaster: https://github.com/jirikavi/AngularJS-Toaster
    script(type="text/javascript", src="/third-party/AngularJS-Toaster/toaster.js")

    //- async: https://github.com/caolan/async
    script(type="text/javascript", src="/third-party/async/lib/async.js")

    //- generic angular filters: https://github.com/niemyjski/angular-filters
    script(type="text/javascript", src="/third-party/ng-filters/dist/angular-filters.js")

    //- angular-file-upload: https://github.com/nervgh/angular-file-upload
    script(type="text/javascript", src="/third-party/angular-file-upload/angular-file-upload.js")

    //- Bring in the socket.io client
    script(type="text/javascript", src="/js/dependencies/socket.io.js")
    //- then beef it up with some convenience logic for talking to Sails.js'
    script(type="text/javascript", src="/third-party/sails.io.js/sails.io.js")
    //- and for angular
    script(type="text/javascript", src="/third-party/angularSails/dist/ngsails.io.js")

    script(type="text/javascript", src="/js/app.js")
    script(type="text/javascript", src="/js/bootstrap.js")
    script(type="text/javascript", src="/js/translations.js")
    script(type="text/javascript", src="/js/services.js")
    script(type="text/javascript", src="/js/controllers.js")
    script(type="text/javascript", src="/js/bootstrap/controllers.js")
    script(type="text/javascript", src="/js/bootstrap/directives.js")
    script(type="text/javascript", src="/js/directives/webodf.js")
    script(type="text/javascript", src="/js/directives/resize.js")
    script(type="text/javascript", src="/js/directives/ngThumb.js")
    script(type="text/javascript", src="/js/directives/imageMenu.js")
    script(type="text/javascript", src="/js/directives/match.js")
