[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = git@github.com:JumpLink/cms-bootstrap-theme.git
[submodule "themes/nvc"]
	path = themes/nvc
	url = git@github.com:JumpLink/cms-bootstrap-theme.git
