.container(style="min-height: 200px;")
  span(ng-repeat="eventName in ['after', 'before', 'unknown']")
    .page-header(ng-show="events.before.length > 0 && eventName == 'before'")
      h1 Archiv
    .page-header(ng-show="events.after.length > 0 && eventName == 'after'")
      h1 Anstehende Veranstaltungen
    .page-header(ng-show="events.unknown.length > 0 && eventName == 'unknown'")
      h1 Weiteres
    ul.timeline
      li(ng-repeat="event in events[eventName] | orderBy:'from'", ng-class="{'timeline-inverted':$index%2}", ng-switch, on="event.type")
        //- Timerline type
        //- Vortrag
        .timeline-badge.success(ng-switch-when="lecture", ng-click="openTypeChooserModal(event)")
          i.fa.fa-graduation-cap
        //- Poliumsdisskusion
        .timeline-badge.warning(ng-switch-when="panel discussion", ng-click="openTypeChooserModal(event)")
          i.fa.fa-users
        //- Reise
        .timeline-badge.primary(ng-switch-when="travel", ng-click="openTypeChooserModal(event)")
          img(src="/assets/images/ship_white.svg")
        //- Information
        .timeline-badge.info(ng-switch-when="info", ng-click="openTypeChooserModal(event)")
          i.fa.fa-info
        //- Schifffahrtsessen
        .timeline-badge.danger(ng-switch-when="food", ng-click="openTypeChooserModal(event)")
          i.fa.fa-cutlery
        //- Anderes
        .timeline-badge(ng-switch-default, ng-click="openTypeChooserModal(event)")
          i.fa.fa-check-square
        .timeline-panel
          .timeline-heading
            h4.timeline-title(ng-show="$root.authenticated", medium-editor, ng-model="event.title", options='{"placeholder": "Kein Titel angegeben", "disableToolbar": true, "forcePlainText": true, "disableReturn": true}')
            h4.timeline-title(ng-show="!$root.authenticated && event.title", ng-bind-html="event.title")
            p.text-muted
              i.fa.fa-user(ng-show="$root.authenticated || event.person")
              //- Person (Admin)
              span(ng-show="$root.authenticated", medium-editor, ng-model="event.person", options='{"placeholder": "Keine Person angegeben", "disableToolbar": true, "forcePlainText": true, "disableReturn": true}')
              //- Person (User)
              span(ng-show="!$root.authenticated && event.person", ng-bind-html="event.person")
            //- Von bis (User)
            p.text-muted(ng-show="event.from", title="{{event.from | amDateFormat:'dddd Do MMMM YYYY, HH:mm'}} Uhr", ng-click="edit(event)")
              i.fa.fa-clock-o
              | {{event.from | amCalendar}}
              span(ng-show="event.to")
                |  bis {{event.to | amCalendar}}
            p.text-muted(ng-show="$root.authenticated")
              i.fa.fa-home
              span(medium-editor, ng-model="event.place", options='{"placeholder": "Kein Ort angegeben", "disableToolbar": true, "forcePlainText": true, "disableReturn": true}')
            p.text-muted(ng-hide="$root.authenticated", ng-show="event.place")
              i.fa.fa-home(ng-show="event.place")
              a(ng-hide="$root.authenticated", ng-bind-html="event.place", ng-href="https://maps.google.com?q={{event.place}}")
          .timeline-body
            p(ng-show="event.download")
              a(href="/files/timeline/{{event.download}}").btn.btn-info: | Weitere Informationen
            p.btn-group(ng-show="$root.authenticated")
              button.btn.btn-danger(type="button", title="Ereignis löschen", ng-click="remove(event, eventName)"): i.fa.fa-trash
              button.btn.btn-warning(type="button", title="Ereignis bearbeiten", ng-click="edit(event, eventName)"): i.fa.fa-edit
              button.btn.btn-primary(type="button", title="Ereignis speichern", ng-click="save(event, eventName)"): i.fa.fa-floppy-o
nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="$root.authenticated")
  .container
    .navbar-left
      p.navbar-text Admininstration
    form.navbar-from.navbar-right
      .btn-group
        button.btn.btn-warning.navbar-btn(ng-if="add", title="Hinzufügen", ng-click="add()")
          i.fa.fa-plus
        button.btn.btn-success.navbar-btn(ng-if="download", title="Herunterladen", ng-click="download()")
          i.fa.fa-download
        button.btn.btn-success.navbar-btn(ng-if="refresh", title="Aktualisieren", ng-click="refresh()")
          i.fa.fa-refresh
        button.btn.btn-success.navbar-btn(ng-if="toogleHtml", title="HTML-Modus umschalten", ng-click="toogleHtml()")
          | HTML
        button.btn.btn-primary.navbar-btn(ng-if="save", title="Speichern", ng-click="save()")
          i.fa.fa-floppy-o
      button.btn.btn-default.navbar-btn(title="Einstellungen", bs-dropdown="adminSettingDropdown", ng-click="$event.stopPropagation();", data-template="bootstrap/dropdown", data-placement="top-left", data-html="true")
        i.fa.fa-cog
