.modal(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header(ng-show='title')
        button.close(type='button', ng-click='$hide()') ×
        h4.modal-title(ng-bind='title')
      .modal-body
        .media(ng-click="chooseType(event, 'lecture', $hide)")
          a.pull-left
            .timeline-badge.success
              i.fa.fa-graduation-cap
          .media-body
            h4.media-heading Vortrag
            | Gehaltene Vorträge über ein beliebiges Thema.
        .media(ng-click="chooseType(event, 'panel discussion', $hide)")
          a.pull-left
            .timeline-badge.warning
              i.fa.fa-users
          .media-body
            h4.media-heading Podiumsdiskussion
            | Podiumsdiskussionen über ein beliebiges Thema.
        .media(ng-click="chooseType(event, 'travel', $hide)")
          a.pull-left
            .timeline-badge.primary
              img(src="/assets/images/ship_white.svg")
          .media-body
            h4.media-heading Reise
            | Geplante Reisen per Schiff, Bus oder anderem.
        .media(ng-click="chooseType(event, 'info', $hide)")
          a.pull-left
            .timeline-badge.info
              i.fa.fa-info
          .media-body
            h4.media-heading Information
            | Typ für eine Informationsveranstaltung.
        .media(ng-click="chooseType(event, 'food', $hide)")
          a.pull-left
            .timeline-badge.danger
              i.fa.fa-cutlery
          .media-body
            h4.media-heading Schifffahrtsessen
            | Eigener Typ für das legendäre Schifffahrtsessen.
        .media(ng-click="chooseType(event, 'other', $hide)")
          a.pull-left
            .timeline-badge
              i.fa.fa-check-square
          .media-body
            h4.media-heading Anderes
            | Wenn sonst kein anderer Typ passt.
      .modal-footer
        button.btn.btn-default(type='button', ng-click='$hide()') Schließen
