//- style="opacity: 0.5;"
.navbar.navbar-default.navbar-fixed-top(role='navigation', bs-navbar='bs-navbar')
  .container
    .navbar-header
      a.navbar-brand(ui-sref='bootstrap-layout.home')
        img(src="/assets/images/logo_small.svg", style="height: 40px;margin-top:-10px;float:left;padding-right:5px;")
    ul.nav.navbar-nav
      li(data-match-route='/*gallery*')
        a(ui-sref='bootstrap-layout.gallery') Zurück
