.container
  .page-header
    h1 Benutzer
  table.table.table-hover(ng-if="users.length")
    thead
      tr
        th {{ 'Farbe' }}
        th {{ 'E-Mail' }}
        th {{ 'Name' }}
    tbody
      tr(ng-repeat="user in users", ui-sref="bootstrap-layout.user({index: user.id})")
        td {{user.color}}
        td {{user.email}}
        td {{user.name}}
