.container-fluid
  div(masonry)
    .masonry-brick(ng-repeat="image in images")
      a(ui-sref="bootstrap-layout.gallery-slider({slideIndex: $index})")
        img(ng-src="{{ image.thumb.path }}", width="100px", alt="A masonry brick")
nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="authenticated")
  .container
    .navbar-left
      p.navbar-text Admininstration
    //- form.navbar-from.navbar-right
    //-   button.btn.btn-default.navbar-btn(ng-click="toogleHtml()")
    //-     | HTML
    //-   button.btn.btn-default.navbar-btn(ng-click="save()")
    //-     i.fa.fa-floppy-o
