extends ../layout.jade
block body
  include ../toolbar.jade
  .container(style="min-height: 200px;")
    each eventName in ['after', 'before', 'unknown']
      case eventName
        when 'before'
          if events.before.length > 0
            .page-header
              h1 Archiv
        when 'after'
          if events.after.length > 0
            .page-header
              h1 Anstehende Veranstaltungen
        default
          if events.unknown.length > 0
            .page-header
              h1 Weiteres
      ul.timeline
        //- TODO orderBy:'from'
        each event, index in events[eventName]
          li(class= index%2 ? 'timeline-inverted' : '')
            //- Timerline type
            case event.type
              when 'lecture'
                //- Vortrag
                .timeline-badge.success
                  i.fa.fa-graduation-cap
              when 'panel discussion'
                //- Poliumsdisskusion
                .timeline-badge.warning
                  i.fa.fa-users
              when 'travel'
                //- Reise
                .timeline-badge.primary
                  img(src="/assets/images/ship_white.svg")
              when 'info'
                //- Information
                .timeline-badge.info
                  i.fa.fa-info
              when 'food'
                //- Schifffahrtsessen
                .timeline-badge.danger
                  i.fa.fa-cutlery
              default
                //- Anderes
                .timeline-badge
                  i.fa.fa-check-square
            .timeline-panel
              .timeline-heading
                if event.title
                  h4.timeline-title!= event.title
                //- Person (User)
                if event.person
                  p.text-muted
                    i.fa.fa-user
                    span!= event.person
                //- Von bis (User) TODO amDateFormat:'dddd Do MMMM YYYY, HH:mm'
                if event.from
                  p.text-muted
                    //- TODO {{event.from | amCalendar}}
                    i.fa.fa-clock-o
                    span(title!=event.from.format("dddd Do MMMM YYYY, HH:mm"))!=event.from.calendar()
                    //- TODO ' bis '+{{event.to | amCalendar}}
                    if event.to
                      span(title!=event.to.format("dddd Do MMMM YYYY, HH:mm"))!=' bis '+event.to.calendar()
                if event.place
                  p.text-muted
                    i.fa.fa-home
                    a(href="https://maps.google.com?q="+event.place)!= event.place
              .timeline-body
                if event.download
                  p: a(href="/files/timeline/"+event.download).btn.btn-info: | Weitere Informationen
  include ../footer.jade
