.modal(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header(ng-show='title')
        button.close(type='button', ng-click='$hide()') ×
        h4.modal-title(ng-bind='title')
      .modal-body
        form(role='form')
          .form-group
            label(for='title') Titel
            input#title.form-control(type='text', ng-model="event.title", placeholder='Titel eingeben')
          .form-group
            label(for='person') Person
            input#person.form-control(type='text', ng-model="event.person", placeholder='Person eingeben')
          .form-group
            label(for='place') Ort
            input#place.form-control(type='text', ng-model="event.place", placeholder='Ort eingeben')
          .form-group
            label.control-label(for="fromdate") Von
            .input-group
              .input-group-addon
                i.fa.fa-calendar
              input#formdate.form-control(title="Von Datum", type='text', ng-model='event.from', data-max-date='{{event.to}}', placeholder='Datum', data-template="bootstrap/datepicker", bs-datepicker='bs-datepicker')
              span.input-group-btn
                button.btn.btn-danger(type="button", title="löschen", ng-click="event.from = ''")
                  i.fa.fa-trash
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-clock-o
              input#fromtime.form-control(title="Von Uhrzeit", type='text', ng-model='event.from', placeholder='Uhrzeit', data-template="bootstrap/timepicker", bs-timepicker='bs-timepicker')
              span.input-group-btn
                button.btn.btn-danger(type="button", title="löschen", ng-click="event.from = ''")
                  i.fa.fa-trash
          .form-group
            label.control-label(for="todate") Bis
            .input-group
              .input-group-addon
                i.fa.fa-calendar
              input#todate.form-control(title="Bis Datum", type='text', ng-model='event.to', data-min-date='{{event.from}}', placeholder='Datum', data-template="bootstrap/datepicker", bs-datepicker='bs-datepicker')
              span.input-group-btn
                button.btn.btn-danger(type="button", title="löschen", ng-click="event.to = ''")
                  i.fa.fa-trash
          .form-group
            .input-group
              .input-group-addon
                i.fa.fa-clock-o
              input#totime.form-control(title="Bis Uhrzeit", type='text', ng-model='event.to', placeholder='Uhrzeit', data-template="bootstrap/timepicker", bs-timepicker='bs-timepicker')
              span.input-group-btn
                button.btn.btn-danger(type="button", title="löschen", ng-click="event.to = ''")
                  i.fa.fa-trash
          .form-group
            button.btn.btn-lg.btn-primary(type='button', ng-click="openTypeChooserModal(event)")
              | Ereignistyp auswählen
          .form-group
            label.control-label(for="fromdate") Anhang
            //- https://github.com/nervgh/angular-file-upload
            .input-group
              span.input-group-btn
                //- hide the browsers ugly upload button http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/
                span.btn.btn-success.btn-file(title="Datei auswählen")
                  i.fa.fa-paperclip
                  input(type="file", nv-file-select, uploader="uploader")
              //- just upload last selected file
              input#attachment.form-control(type="text", title="Anhang", readonly, ng-if="uploader.queue[uploader.queue.length-1].file.name", placeholder='Kein Anhang', ng-model="uploader.queue[uploader.queue.length-1].file.name")
              input#attachment.form-control(type="text", title="Anhang", readonly, ng-if="!uploader.queue[uploader.queue.length-1].file.name", placeholder='Kein Anhang', ng-model="event.download")
              span.input-group-btn
                button.btn.btn-danger(ng-click="event.download = null", ng-disabled="!event.download", title="Anhang entfernen")
                  i.fa.fa-trash
                button.btn.btn-primary(ng-click="upload(uploader.queue[uploader.queue.length-1], event)", ng-disabled="!uploader.queue[uploader.queue.length-1].file.name", title="Hochladen")
                  i.fa.fa-upload
            .progress(ng-show="uploader.queue[uploader.queue.length-1].file")
              .progress-bar.progress-bar-success(role='progressbar', ng-model="uploader.queue[uploader.queue.length-1].progress", aria-valuenow='{{uploader.queue[uploader.queue.length-1].progress}}', aria-valuemin='0', aria-valuemax='100', ng-style="{ 'width': uploader.queue[uploader.queue.length-1].progress + '%' }")
      .modal-footer
        button.btn.btn-primary(type='button', ng-click='save(event, eventName);$hide()') Speichern
