extends ../../../legacy/layout.jade
block body
  include ../../legacy/toolbar.jade
  div(style="width: 100%;")
  .container(style="min-height: 200px;")
    .row
      .col-md-2.hidden-sm.hidden-xs
        .bs-sidebar(hidden-print, role="complementary")
          ul.nav.bs-sidenav
            li
              a(ng-click="goTo('top')") Startseite
            li
              a(ng-click="goTo('about')") Wir über uns
            li
              a(ng-click="goTo('goals')") Ziele
      .col-md-10
        h1.anchor-static-navbar#about
        .page-header
          h1 Wir über uns
        div!= about
        h1.anchor-static-navbar#goals
        .page-header
          h1 Unsere Ziele
        div!= goals
  include ../../legacy/footer.jade
