extends ../../../legacy/layout.jade
block body
  include ../../legacy/toolbar.jade
  .container(style="min-height: 400px;")
    .page-header
      h1 Links
    div!= links
  include ../../legacy/footer.jade
