doctype html
html(lang="en", ng-app="jumplink.cms", ng-controller="AppController", ng-init="authenticated = #{authenticated}")
  head
    base(href="/bootstrap")
    title Nautischer Verein Cuxhaven

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")

    // Stylesheets
    link(href='/styles/bootstrap.css', rel='stylesheet')

    // Templates
    // general
    script(type="text/ng-template", id="bootstrap/layout"): include angular-templates/bootstrap/layout.jade
    script(type="text/ng-template", id="bootstrap/toolbar"): include angular-templates/bootstrap/toolbar.jade
    script(type="text/ng-template", id="bootstrap/footer"): include angular-templates/bootstrap/footer.jade
    script(type="text/ng-template", id="bootstrap/sidebar"): include angular-templates/bootstrap/sidebar.jade
    script(type="text/ng-template", id="bootstrap/adminbar"): include angular-templates/bootstrap/adminbar.jade
    // home
    script(type="text/ng-template", id="bootstrap/home/content"): include angular-templates/bootstrap/home/content.jade
    // gallery
    script(type="text/ng-template", id="bootstrap/gallery/view"): include angular-templates/bootstrap/gallery/view.jade
    script(type="text/ng-template", id="bootstrap/gallery/slider"): include angular-templates/bootstrap/gallery/slider.jade
    script(type="text/ng-template", id="bootstrap/gallery/toolbar"): include angular-templates/bootstrap/gallery/toolbar.jade
    // events
    script(type="text/ng-template", id="bootstrap/events/timeline"): include angular-templates/bootstrap/events/timeline.jade
    // members
    script(type="text/ng-template", id="bootstrap/members/content"): include angular-templates/bootstrap/members/content.jade
    // application
    script(type="text/ng-template", id="bootstrap/application/content"): include angular-templates/bootstrap/application/content.jade
    // imprint
    script(type="text/ng-template", id="bootstrap/imprint/content"): include angular-templates/bootstrap/imprint/content.jade
    // links
    script(type="text/ng-template", id="bootstrap/links/content"): include angular-templates/bootstrap/links/content.jade
    // admin
    script(type="text/ng-template", id="bootstrap/administration/settings"): include angular-templates/bootstrap/administration/settings.jade
    script(type="text/ng-template", id="bootstrap/administration/users"): include angular-templates/bootstrap/administration/users.jade
    script(type="text/ng-template", id="bootstrap/administration/user"): include angular-templates/bootstrap/administration/user.jade
  body(class="{{bodyclass}}")
    span(ui-view)
    // angular-masonry
    script(type="text/javascript", src="/third-party/jquery/dist/jquery.js")
    script(type="text/javascript", src="/third-party/jquery-bridget/jquery.bridget.js")
    script(type="text/javascript", src="/third-party/get-style-property/get-style-property.js")
    script(type="text/javascript", src="/third-party/get-size/get-size.js")
    script(type="text/javascript", src="/third-party/eventEmitter/EventEmitter.js")
    script(type="text/javascript", src="/third-party/eventie/eventie.js")
    script(type="text/javascript", src="/third-party/doc-ready/doc-ready.js")
    script(type="text/javascript", src="/third-party/matches-selector/matches-selector.js")
    script(type="text/javascript", src="/third-party/outlayer/item.js")
    script(type="text/javascript", src="/third-party/outlayer/outlayer.js")
    script(type="text/javascript", src="/third-party/masonry/masonry.js")
    script(type="text/javascript", src="/third-party/imagesloaded/imagesloaded.js")

    // angular
    script(type="text/javascript", src="/third-party/angular/angular.js")
    script(type="text/javascript", src="/third-party/moment/moment.js")
    script(type="text/javascript", src="/third-party/angular-moment/angular-moment.js")
    script(type="text/javascript", src="/third-party/moment/locale/de.js")
    script(type="text/javascript", src="/third-party/angular-fullscreen/src/angular-fullscreen.js")
    script(src='/third-party/webodf/webodf-debug.js', type='text/javascript', charset='utf-8')
    script(type="text/javascript", src="/third-party/angular-animate/angular-animate.js")
    script(type="text/javascript", src="/third-party/angular-ui-router/release/angular-ui-router.js")
    script(type="text/javascript", src="/third-party/angular-sanitize/angular-sanitize.js")
    script(type="text/javascript", src="/third-party/angular-touch/angular-touch.js")
    script(type="text/javascript", src="/third-party/angular-strap/dist/angular-strap.js")
    script(type="text/javascript", src="/third-party/angular-carousel/dist/angular-carousel.js")
    script(type="text/javascript", src="/third-party/angular-fullscreen/src/angular-fullscreen.js")

    // textAngular
    //- script(type="text/javascript", src="/third-party/textAngular/dist/textAngular.min.js")

    // angular-medium-editor
    script(type="text/javascript", src="/third-party/medium-editor/dist/js/medium-editor.js")
    script(type="text/javascript", src="/third-party/angular-medium-editor/dist/angular-medium-editor.js")

    // angular-ui-ace
    script(type="text/javascript", src="/third-party/ace-builds/src-noconflict/ace.js")
    script(type="text/javascript", src="/third-party/angular-ui-ace/ui-ace.js")

    // angular-masonry
    script(type="text/javascript", src="/third-party/angular-masonry/angular-masonry.js")

    // html, css, javascript beautifier
    script(type="text/javascript", src="/third-party/js-beautify/js/lib/beautify.js")
    script(type="text/javascript", src="/third-party/js-beautify/js/lib/beautify-css.js")
    script(type="text/javascript", src="/third-party/js-beautify/js/lib/beautify-html.js")

    // angular-leaflet-directive: https://github.com/tombatossals/angular-leaflet-directive
    script(type="text/javascript", src="/third-party/leaflet/dist/leaflet-src.js")
    script(type="text/javascript", src="/third-party/Leaflet.label/dist/leaflet.label-src.js")
    script(type="text/javascript", src="/third-party/angular-leaflet-directive/dist/angular-leaflet-directive.js")

    //- Bring in the socket.io client
    script(type="text/javascript", src="/js/dependencies/socket.io.js")
    //- then beef it up with some convenience logic for talking to Sails.js'
    script(type="text/javascript", src="/third-party/sails.io.js/sails.io.js")
    //- and for angular
    script(type="text/javascript", src="/third-party/angularSails/dist/ngsails.io.js")

    script(type="text/javascript", src="/js/app.js")
    script(type="text/javascript", src="/js/bootstrap.js")
    script(type="text/javascript", src="/js/translations.js")
    script(type="text/javascript", src="/js/services.js")
    script(type="text/javascript", src="/js/controllers.js")
    script(type="text/javascript", src="/js/bootstrap/controllers.js")
    script(type="text/javascript", src="/js/bootstrap/directives.js")
    script(type="text/javascript", src="/js/directives/webodf.js")
    script(type="text/javascript", src="/js/directives/resize.js")
