extends ../layout.jade
block body
  include ../toolbar.jade
  #top(style="margin-top: -20px;width: 100%;")
    img.img-responsive(src="/assets/images/header/slideshow.gif", width="100%")
  .container(style="min-height: 200px;")
    .row
      .col-md-2.hidden-sm.hidden-xs
        .bs-sidebar(hidden-print, role="complementary")
          ul.nav.bs-sidenav
            li
              a(href="#top") Startseite
            li
              a(href="#about") Wir über uns
            li
              a(href="#goals") Ziele
      .col-md-10
        h1.anchor-static-navbar#about
        .page-header
          h1 Wir über uns
        div!= about
        h1.anchor-static-navbar#goals
        .page-header
          h1 Unsere Ziele
        div!= goals
  include ../footer.jade
