{
  "environment": "development",
  "port": 1337,
  "secret": "3452eab56804ee3476ec53148be1b627",
  "hookTimeout": 100000,
  "usingSSL": false,
  "emailReception": false,
  "onStart": {
    "sendMail": true,
    "deleteLogsAfterSend": true
  },
  "setup": {
    "fallback": {
      "users": [
        {
          "email":"admin@admin.org",
          "name": "admin",
          "color": "#000000",
          "password": "admin",
          "role": "siteadmin"
        }
      ],
      "routes": [
        {
          "position": 1,
          "match": "/*home*",
          "title": "Home",
          "state": {
            "name": "layout.home",
            "customstate": false,
            "url": "",
            "views": "",
            "resolve": ""
          },
          "fallback": { 
            "url": ""
          }
        }
      ]
    }
  },
  "sites":[
    {
      "name": "admin",
      "matchsubdomain": true,
      "domains": [
        "admin",
        "admin.jumplink.eu"
      ],
      "fallback": {
        "theme": "admin"
      },
      "email": {
        "service": "gmail",
        "auth": {
          "user": "mail@gmail.com",
          "pass": "123456"
        },
        "address": "mail@gmail.com",
        "receiver": "mail2@gmail.com"
      }
    },
    {
      "name": "bootstrap",
      "matchsubdomain": false,
      "domains": [
        "sub.domain.io"
      ],
      "email": {
        "service": "gmail",
        "auth": {
          "user": "mail@gmail.com",
          "pass": "123456"
        },
        "address": "mail@gmail.com"
      }
      "ssl": {
        "ca": "ssl/ca-bundle.crt",
        "key": "ssl/sub.domain.io.key",
        "cert": "ssl/sub.domain.io.crt",
        "passphrase": "123456"
      },
      "fallback": {
        "theme": "bootstrap"
      }
    },
    {
      "name": "docs",
      "matchsubdomain": true,
      "domains": [
        "docs.domain2.com"
      ],
      "ssl": {
        "ca": "ssl/ca-bundle.crt",
        "key": "ssl/docs.domain2.com.key",
        "cert": "ssl/docs.domain2.com.crt",
        "passphrase": "123456"
      },
      "fallback": {
        "theme": "docs"
      }
    }
  ]
}
