doctype html
html
  head
    title:= title
    //- Viewport mobile tag for sensible mobile support
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link#style(rel="stylesheet", href="/styles/bootstrap.css")
  body
    .container
      //- browser icons from https://github.com/alrra/browser-logos
      div(style="padding: 40px 15px;text-align: center;")
        h1
          | Ihr Webbrowser wird von uns nicht unterstützt
        .lead
          | Bitte installieren Sie einen aktuellen Webbrowser.
      .row
        .col-lg-4.text-center
          img(src="images/browser/firefox_128x128.png", alt="Mozilla Firefox")
          h2
            | Mozilla Firefox
          p
            a.btn.btn-primary(href="https://www.mozilla.org/de/firefox/") Herunterladen
        .col-lg-4.text-center
          img(src="images/browser/chrome_128x128.png", alt="Google Chrome")
          h2
            | Google Chrome
          p
            a.btn.btn-primary(href="https://www.google.com/chrome/?") Herunterladen
        .col-lg-4.text-center
          img(src="images/browser/opera_128x128.png", alt="Opera")
          h2
            | Opera
          p
            a.btn.btn-primary(href="http://www.opera.com/") Herunterladen
