.container-fluid(style="min-height: 400px;")
  h1.anchor-static-navbar#gallery
  .page-header
    h1 Galerie
  //- https://github.com/passy/angular-masonry
  div(masonry)
    .masonry-brick(ng-repeat="image in images")
      //- a(ui-sref="bootstrap-layout.gallery-slider({slideIndex: $index})")
      //- .img.img-cover(fullscreen, ng-style="aspect(image, 100)", style="background-image:url('..{{ image.original.path }}')")
      img.img-responsive(ng-src="{{ image.original.path }}", title="image.name" fullscreen="isFullScreen(image)", ng-click="toggleFullScreen(image)", ng-style="aspect(image, 100)")
      i.fa.fa-ellipsis-v.img-dropdown(ng-if="$root.authenticated", bs-dropdown="dropdown", data-template="bootstrap/dropdown", data-placement="bottom", data-html="true")
  .fullscreen-image(ng-show="fullscreenImage")
    img(ng-src="{{ fullscreenImage.original.path }}", width="100px")
nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="$root.authenticated")
  .container
    .navbar-left
      p.navbar-text Admininstration
    form.navbar-from.navbar-right
      .btn-group
        button.btn.btn-warning.navbar-btn(ng-if="add", title="Hinzufügen", ng-click="add()")
          i.fa.fa-plus
        button.btn.btn-success.navbar-btn(ng-if="download", title="Herunterladen", ng-click="download()")
          i.fa.fa-download
        button.btn.btn-success.navbar-btn(ng-if="refresh", title="Aktualisieren", ng-click="refresh()")
          i.fa.fa-refresh
        button.btn.btn-default.navbar-btn(ng-if="toogleHtml", title="HTML-Modus umschalten", ng-click="toogleHtml()")
          | HTML
        button.btn.btn-primary.navbar-btn(ng-if="save", title="Speichern", ng-click="save()")
          i.fa.fa-floppy-o
      button.btn.btn-default.navbar-btn(title="Einstellungen", ui-sref='bootstrap-layout.administration')
        i.fa.fa-cog
