extends layout.jade
block body
  .container
    //- browser icons from https://github.com/alrra/browser-logos
    div(style="padding: 40px 15px;text-align: center;")
      h1
        | Seite befindet sich im Kompatibilitäts-modus
      .lead
        | Im Kompatibilitätsmodus ist diese Seite nur eingeschränkt nutzbar, dadurch ist Sie auch auf nicht unterstützten Webbrowsern darstellar.
      h2
        | Grund:
      if force == 'legacy' || force == 'fallback'
        h3
          | Sie haben den Kompatibilitätsmodus erzwungen.
        .lead
          a.btn.btn-success.btn-lg(href="/") Kompatibilitätsmodus verlassen
      if force == 'noscript'
        h3
          | Ihr Webbrowser unterstützt kein JavaScript oder Sie haben es deaktiviert.
        .lead
          | Bitte aktivieren Sie JavaScript oder installieren Sie sich einen aktuellen Webbrowser.
      else
        if useragent.isChrome || useragent.isFirefox || isOpera
          h3
            | Ihr Webbrowser ist veraltet
          .lead
            | Bitte aktualisieren Sie ihren Webbrowser.
        else
          h3
            | Ihr Webbrowser wird von uns nicht unterstützt
          .lead
            | Bitte installieren Sie einen der folgenden aktuellen Webbrowser.
    .row
      if useragent.isDesktop
        .col-lg-4.text-center
          img(src="/assets/images/browser/firefox_128x128.png", alt="Mozilla Firefox")
          h2
            | Mozilla Firefox
          p
            a.btn.btn-primary.btn-lg(href="https://www.mozilla.org/de/firefox/") Herunterladen
      .col-lg-4.text-center
        img(src="/assets/images/browser/chrome_128x128.png", alt="Google Chrome")
        h2
          | Google Chrome
        h4
          span.label.label-success
            | Empfohlen
        p
          if useragent.isAndroid
            a.btn.btn-primary.btn-lg(href="https://play.google.com/store/apps/details?id=com.android.chrome&hl=de") Installieren
          else if useragent.isiPhone || useragent.isiPhone || isiPod || isiPad
            a.btn.btn-primary.btn-lg(href="https://itunes.apple.com/de/app/chrome-der-browser-von-google/id535886823?mt=8&uo=4") Installieren
          else
            a.btn.btn-primary.btn-lg(href="https://www.google.com/chrome/?") Herunterladen
      if useragent.isDesktop
        .col-lg-4.text-center
          img(src="/assets/images/browser/opera_128x128.png", alt="Opera")
          h2
            | Opera
          p
            a.btn.btn-primary.btn-lg(href="http://www.opera.com/") Herunterladen
    div(style="padding: 40px 15px;text-align: center;")
      h3
        | Alternativ können Sie versuchen die Seite trotzdem aufzurufen.
      a.btn.btn-danger.btn-lg(href="/?force=modern") Modernen Modus erzwingen
      h3
        small
          | Achtung: Wir können nicht garantieren, dass unsere Seite bei Ihnen korrekt dargestellt wird.
