.aside-legacy
  .aside-backdrop.am-fade
  .aside.left.am-slide-left(tabindex='-1', role='dialog')
    .aside-dialog
      .aside-content
        .aside-header
          h4.aside-title
            | Menü
        .aside-body.bs-sidebar(bs-navbar)
          ul.nav.bs-sidenav
            li(class= url == "/bs/legacy/home" ? "active" : "")
              a(href= force != null ? '/bs/legacy/home?force='+force : '/bs/legacy/home') Startseite
            li(class= url == "/bs/legacy/members" ? "active" : "")
              a(href= force != null ? '/bs/legacy/members?force='+force : '/bs/legacy/members') Vorstand / Beirat
            li(class= url == "/bs/legacy/events" ? "active" : "")
              a(href= force != null ? '/bs/legacy/events?force='+force : '/bs/legacy/events') Veranstaltungen
            li(class= url == "/bs/legacy/gallery" ? "active" : "")
              a(href= force != null ? '/bs/legacy/gallery?force='+force : '/bs/legacy/gallery') Galerie
            li(class= url == "/bs/legacy/application" ? "active" : "")
              a(href= force != null ? '/bs/legacy/application?force='+force : '/bs/legacy/application') Aufnahmeantrag
            li(class= url == "/bs/legacy/links" ? "active" : "")
              a(href= force != null ? '/bs/legacy/links?force='+force : '/bs/legacy/links') Links
            li(class= url == "/bs/legacy/imprint" ? "active" : "")
              a(href=force != null ? '/bs/legacy/imprint?force='+force : '/bs/legacy/imprint') Impressum
