span.btn.btn-primary.navbar-btn.navbar-left.hidden-lg.hidden-md.navbar-btn-legacy(style="font-size: 14px; margin-left: 15px; margin-right: 15px;")
  i.fa.fa-bars
  include ./sidebar.jade
.navbar.navbar-default.navbar-fixed-top.hidden-print(role='navigation')
  .container
    .navbar-header
      //- placeholder
      button.btn.btn-primary.navbar-btn.navbar-left.hidden-lg.hidden-md(style="font-size: 14px; margin-left: 15px; margin-right: 15px; visibility: hidden;")
        i.fa.fa-bars
      a.navbar-brand(href= force != null ? '/fallback/home?force='+force : '/fallback/home')
        img(src="/assets/images/logo_small.svg", style="height: 40px;margin-top:-10px;float:left;padding-right:5px;")
        span.hidden-xs.hidden-md.hidden-lg Nautischer Verein Cuxhaven e.V.
        span.hidden-sm.hidden-md.hidden-lg NVC e.V.
    ul.nav.navbar-nav.navbar-left.visible-md-block.hidden-xs.hidden-sm.visible-lg-block
      li(class= url == "/fallback/home" ? "active" : "")
        a(href= force != null ? '/fallback/home?force='+force : '/fallback/home') Startseite
      li(class= url == "/fallback/members" ? "active" : "")
        a(href= force != null ? '/fallback/members?force='+force : '/fallback/members') Vorstand / Beirat
      li(class= url == "/fallback/events" ? "active" : "")
        a(href= force != null ? '/fallback/events?force='+force : '/fallback/events') Veranstaltungen
      li(class= url == "/fallback/gallery" ? "active" : "")
        a(href= force != null ? '/fallback/gallery?force='+force : '/fallback/gallery') Galerie
      li(class= url == "/fallback/application" ? "active" : "")
        a(href= force != null ? '/fallback/application?force='+force : '/fallback/application') Aufnahmeantrag
      li(class= url == "/fallback/links" ? "active" : "")
        a(href= force != null ? '/fallback/links?force='+force : '/fallback/links') Links
      li(class= url == "/fallback/imprint" ? "active" : "")
        a(href=force != null ? '/fallback/imprint?force='+force : '/fallback/imprint') Impressum
    .navbar-right
