.container(style="min-height: 200px;")
  .row
    .col-md-2.hidden-sm.hidden-xs
      .bs-sidebar(hidden-print, role="complementary", data-offset-top="-50", bs-affix)
        ul.nav.bs-sidenav
          li(data-target="#imprint", bs-scrollspy, data-offset="30")
            a(ng-click="goTo('imprint')") Impressum
          li(data-target="#contact", bs-scrollspy, data-offset="30")
            a(ng-click="goTo('contact')") Kontakt
          li(data-target="#approach", bs-scrollspy, data-offset="30")
            a(ng-click="goTo('approach')") Anfahrt
    .col-md-10
      h1.anchor-static-navbar#imprint
      .page-header
        h1 Impressum
      div(ng-show="html && authenticated", ng-model="imprint", ui-ace="{mode: 'html'}")
      div(ng-show="authenticated", medium-editor, ng-model="imprint", options='{"buttons": ["bold", "italic", "underline", "anchor", "header1" , "header2", "quote", "orderedlist", "unorderedlist"]}', bind-options="mediumBindOptions")
      div(ng-bind-html="imprint", ng-hide="authenticated")
      h1.anchor-static-navbar#contact
      .page-header
        h1 Kontakt
      form(role='form', name="form", novalidate, ng-submit="sendMail()")
        .form-group
          label(for='name') Name
          input#name.form-control(type='text', name="name", required, placeholder='Ihren Namen eingeben', ng-model="email.name")
          label.validation.danger(ng-show="form.name.$error.required") Bitte geben Sie hier Ihren Namen ein.
          label.validation.success(ng-hide="form.name.$error.required"): i.fa.fa-check
        .form-group
          label(for='from') E-Mail
          input#from.form-control(type='email', name="email", required, placeholder='Ihre E-Mail-Adresse eingeben', ng-model="email.from")
          label.validation.danger(ng-show="form.email.$error.required") Bitte geben Sie hier Ihre E-Mail-Adresse ein.
          label.validation.danger(ng-show="form.email.$error.email") Dies ist keine korrekte E-Mail-Adresse.
          label.validation.success(ng-hide="form.email.$error.required || form.email.$error.email"): i.fa.fa-check
        .form-group
          label(for='subject') Betreff
          input#subject.form-control(type='text', name="subject", required, placeholder='Betreff eingeben', ng-model="email.subject")
          label.validation.danger(ng-show="form.subject.$error.required") Bitte geben Sie hier Ihren Betreff ein.
          label.validation.success(ng-hide="form.subject.$error.required"): i.fa.fa-check
        .form-group
          label(for='content') Inhalt
          .textarea#content(medium-editor, ng-model="email.content", options='{"placeholder": "Inhalt eingeben","buttons": ["bold", "italic", "underline", "anchor", "header1" , "header2", "quote", "orderedlist", "unorderedlist"]}', bind-options="mediumBindOptions")
        button.btn.btn-primary(type="submit", ng-disabled="form.$invalid") Absenden
      h1.anchor-static-navbar#approach
      .page-header
        h1 Anfahrt
      .row
        .col-xs-12
          leaflet(center="nvc", markers="markers", height="480px", width="100%")
nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="authenticated")
  .container
    .navbar-left
      p.navbar-text Admininstration
    form.navbar-from.navbar-right
      button.btn.btn-default.navbar-btn(ng-show="toogleHtml", ng-click="toogleHtml()")
        | HTML
      button.btn.btn-default.navbar-btn(ng-show="save", ng-click="save()")
        i.fa.fa-floppy-o
      button.btn.btn-default.navbar-btn(title="Einstellungen", ui-sref='bootstrap-layout.administration')
        i.fa.fa-cog
