.container(style="min-height: 200px;")
  .page-header
    h1 Vorstand / Beirat
  .row(style='text-align: center;')
    .col-lg-3.col-md-4.col-sm-6.member(ng-repeat="member in members")
      img.img-circle(alt='{{member.name}}', ng-src='/images/members/{{member.image}}', style='width: 140px; height: 140px;')
      h2
        div(ng-show="$root.authenticated", medium-editor, ng-model="member.name", options='{"placeholder": "Name eingeben", "disableToolbar": true, "forcePlainText": true, "disableReturn": true}')
        div(ng-hide="$root.authenticated", ng-bind-html="member.name")
        small(ng-show="$root.authenticated", medium-editor, ng-model="member.job", options='{"placeholder": "Job eingeben", "disableToolbar": true, "forcePlainText": true, "disableReturn": true}')
        small(ng-hide="$root.authenticated", ng-bind-html="member.job")
      p.btn-group(ng-show="authenticated")
        button.btn.btn-warning(ng-disabled="$index <= 0", ng-click="moveBackward(member)"): i.fa.fa-backward
        button.btn.btn-danger(ng-click="remove(member)"): i.fa.fa-trash
        button.btn.btn-warning(ng-click="edit(member)"): i.fa.fa-edit
        button.btn.btn-primary(ng-click="save(member)"): i.fa.fa-floppy-o
        button.btn.btn-warning(ng-disabled="$index >= members.length - 1", ng-click="moveForward(member)"): i.fa.fa-forward
nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="$root.authenticated")
  .container
    .navbar-left
      p.navbar-text Admininstration
    form.navbar-from.navbar-right
      .btn-group
        button.btn.btn-warning.navbar-btn(ng-if="add", title="Hinzufügen", ng-click="add()")
          i.fa.fa-plus
        button.btn.btn-success.navbar-btn(ng-if="download", title="Herunterladen", ng-click="download()")
          i.fa.fa-download
        button.btn.btn-success.navbar-btn(ng-if="refresh", title="Aktualisieren", ng-click="refresh()")
          i.fa.fa-refresh
        button.btn.btn-default.navbar-btn(ng-if="toogleHtml", title="HTML-Modus umschalten", ng-click="toogleHtml()")
          | HTML
        button.btn.btn-primary.navbar-btn(ng-if="save", title="Speichern", ng-click="save()")
          i.fa.fa-floppy-o
      button.btn.btn-default.navbar-btn(title="Einstellungen", bs-dropdown="adminSettingDropdown", ng-click="$event.stopPropagation();", data-template="bootstrap/dropdown", data-placement="top-left", data-html="true")
        i.fa.fa-cog
