img(src="/assets/images/footer.png", width="100%", height="auto")
.footer-container
  .container
    .row
      .col-sm-6
        img.img-responsive.center-block(src="/assets/images/logo.svg")
      .col-sm-6
        dl.dl-horizontal
          dt: | Anschrift
          dd
            address
              strong
                | Nautischer Verein Cuxhaven e.V.
              br
              | Kapitän­-Alexander­-Str. 40
              br
              | 27472 Cuxhaven
          dt: | Telefon
          dd: a(href="tel:+494721201620"): | 04721­ 201620
          dt: | Fax
          dd: a(href="fax:+494721201621"): | 04721­ 201621
          dt: | E-Mail
          dd: a(href="mailto:nvcux@t­online.de"): | nvcux@t­-online.de
          dt: | Technik & Design
          dd: a(href="http://jumplink.eu"): | Pascal Garber
        dl.dl-horizontal
          dt: | Extras
          dd(ng-hide="$root.authenticated"): a(href="/signin"): | Administration anmelden
          dd(ng-show="$root.authenticated"): a(ng-click="logout()"): | Administration abmelden
          dd: a(href="/?force=legacy"): | Kompatibilitätsmodus erzwingen
