doctype html
html(lang="en", ng-app="jumplink.cms", ng-controller="AppController", ng-init="$root.authenticated = #{authenticated}; $root.user = #{user}")
  head
    base(href="/bootstrap")
    title Nautischer Verein Cuxhaven

    //- Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    if force != 'modern'
      noscript
        meta(http-equiv="refresh" content="0; url="+url+"?force=noscript")
    //- Stylesheets
    link(href='/assets/styles/app.css', rel='stylesheet')

    //- Templates
    //- general
    script(type="text/ng-template", id="bootstrap/layout"): include ./layout.jade
    script(type="text/ng-template", id="bootstrap/toolbar"): include ./toolbar.jade
    script(type="text/ng-template", id="bootstrap/footer"): include ./footer.jade
    script(type="text/ng-template", id="bootstrap/sidebar"): include ./sidebar.jade
    script(type="text/ng-template", id="bootstrap/adminbar"): include ./adminbar.jade
    script(type="text/ng-template", id="bootstrap/datepicker"): include ./datepicker.jade
    script(type="text/ng-template", id="bootstrap/timepicker"): include ./timepicker.jade
    script(type="text/ng-template", id="bootstrap/dropdown"): include ./dropdown.jade
    script(type="text/ng-template", id="bootstrap/select"): include ./select.jade
    //- home
    script(type="text/ng-template", id="bootstrap/home/content"): include ./home/content.jade
    //- gallery
    script(type="text/ng-template", id="bootstrap/gallery/content"): include ./gallery/content.jade
    script(type="text/ng-template", id="bootstrap/gallery/fullscreen"): include ./gallery/fullscreen.jade
    script(type="text/ng-template", id="bootstrap/gallery/slider"): include ./gallery/slider.jade
    script(type="text/ng-template", id="bootstrap/gallery/toolbar"): include ./gallery/toolbar.jade
    script(type="text/ng-template", id="bootstrap/gallery/editimagemodal"): include ./gallery/editimagemodal.jade
    script(type="text/ng-template", id="bootstrap/gallery/uploadimagesmodal"): include ./gallery/uploadimagesmodal.jade
    //- events
    script(type="text/ng-template", id="bootstrap/events/timeline"): include ./events/timeline.jade
    script(type="text/ng-template", id="bootstrap/events/typechoosermodal"): include ./events/typechoosermodal.jade
    script(type="text/ng-template", id="bootstrap/events/editeventmodal"): include ./events/editeventmodal.jade
    //- members
    script(type="text/ng-template", id="bootstrap/members/content"): include ./members/content.jade
    script(type="text/ng-template", id="bootstrap/members/editmembermodal"): include ./members/editmembermodal.jade
    //- application
    script(type="text/ng-template", id="bootstrap/application/content"): include ./application/content.jade
    //- imprint
    script(type="text/ng-template", id="bootstrap/imprint/content"): include ./imprint/content.jade
    //- links
    script(type="text/ng-template", id="bootstrap/links/content"): include ./links/content.jade
    //- admin
    script(type="text/ng-template", id="bootstrap/administration/settings"): include ./administration/settings.jade
    script(type="text/ng-template", id="bootstrap/administration/users"): include ./administration/users.jade
    script(type="text/ng-template", id="bootstrap/administration/user"): include ./administration/user.jade
  body(ng-class="bodyclass")
    if force != 'modern'
      noscript
        div(style="padding: 40px 15px;text-align: center;")
          h1 Sie haben JavaScript deaktivert.
          a.btn.btn-primary.btn-lg(href="https://"+url+"?force=noscript") Kompatiblitätsmodus aktivieren
    span(ui-view)
    // SCRIPTS
    // script(type="text/javascript", charset="utf-8", src="assets/js/app.concat.js")
    script(type="text/javascript", charset="utf-8", src="assets/js/app.min.js")
    // SCRIPTS END
