.navbar.navbar-default.navbar-fixed-top(role='navigation', bs-navbar)
  .container
    .navbar-header
      button.btn.btn-primary.navbar-btn.navbar-left.hidden-lg.hidden-md(type="button", bs-aside="aside", data-template="bootstrap/sidebar", data-title="Menü", data-placement="left", data-animation="am-slide-left", data-container=".main-body", style="font-size: 14px; margin-left: 15px; margin-right: 15px;")
        i.fa.fa-bars
      a.navbar-brand(ui-sref='bootstrap-layout.home')
        img(src="/assets/images/logo_small.svg", style="height: 40px;margin-top:-10px;float:left;padding-right:5px;")
        span.hidden-xs.hidden-md.hidden-lg Nautischer Verein Cuxhaven e.V.
        span.hidden-sm.hidden-md.hidden-lg NVC e.V.
    ul.nav.navbar-nav.navbar-left.visible-md-block.hidden-xs.hidden-sm.visible-lg-block
      li(data-match-route='/*home*')
        a(ui-sref='bootstrap-layout.home') Startseite
      li(data-match-route='/*members*')
        a(ui-sref='bootstrap-layout.members') Vorstand / Beirat
      li(data-match-route='/*events*')
        a(ui-sref='bootstrap-layout.timeline') Veranstaltungen
      li(data-match-route='/*gallery*')
        a(ui-sref='bootstrap-layout.gallery') Galerie
      li(data-match-route='/*application*')
        a(ui-sref='bootstrap-layout.application') Aufnahmeantrag
      li(data-match-route='/*links*')
        a(ui-sref='bootstrap-layout.links') Links
      li(data-match-route='/*imprint*')
        a(ui-sref='bootstrap-layout.imprint') Impressum
    .navbar-right
      button.btn.btn-primary.navbar-btn(ng-if="$root.fullscreenIsSupported", ng-click="toggleFullscreen()", style="font-size: 14px; margin-left: 15px;")
        i.fa.fa-expand(ng-hide="isFullscreen", title="Vollbild")
        i.fa.fa-compress(ng-show="isFullscreen", title="Vollbild verlassen")
