.container(style="min-height: 200px;")
  .page-header
    h1 Vorstand / Beirat
  .row(style='text-align: center;')
    .col-lg-3.col-md-4.col-sm-6.member
      img.img-circle(data-src='holder.js/140x140', alt='140x140', src='images/photo.png', style='width: 140px; height: 140px;')
      h2 Kapt. Ralf Gütlein
        br
        small  Vorsitzender
      p
      //-   | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
      //- p
      //-   a.btn.btn-default(href='#', role='button') View details »
    .col-lg-3.col-md-4.col-sm-6.member
      img.img-circle(data-src='holder.js/140x140', alt='140x140', src='images/photo.png', style='width: 140px; height: 140px;')
      h2 Dr. Hannes Ross
        br
        small  stell. Vorsitzender
      //- p
      //-   | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
      //- p
      //-   a.btn.btn-default(href='#', role='button') View details »
    .col-lg-3.col-md-4.col-sm-6.member
      img.img-circle(data-src='holder.js/140x140', alt='140x140', src='images/photo.png', style='width: 140px; height: 140px;')
      h2 Peter Fichtner
        br
        small  stell. Vorsitzender
      //- p
      //-   | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      //- p
      //-   a.btn.btn-default(href='#', role='button') View details »
    .col-lg-3.col-md-4.col-sm-6.member
      img.img-circle(data-src='holder.js/140x140', alt='140x140', src='images/photo.png', style='width: 140px; height: 140px;')
      h2 Martin Schöne
        br
        small  Schatzmeister
      //- p
      //-   | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
      //- p
      //-   a.btn.btn-default(href='#', role='button') View details »
    .col-lg-3.col-md-4.col-sm-6.member
      img.img-circle(data-src='holder.js/140x140', alt='140x140', src='images/photo.png', style='width: 140px; height: 140px;')
      h2 Uwe Stolle
        br
        small  Rechtskundiges Mitglied
      //- p
      //-   | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
      //- p
      //-   a.btn.btn-default(href='#', role='button') View details »
    .col-lg-3.col-md-4.col-sm-6.member
      img.img-circle(data-src='holder.js/140x140', alt='140x140', src='images/photo.png', style='width: 140px; height: 140px;')
      h2 Burkhard Raasch
        br
        small  Vorsitzender des Beirates
      //- p
      //-   | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      //- p
      //-   a.btn.btn-default(href='#', role='button') View details »
    .col-lg-3.col-md-4.col-sm-6.member
      img.img-circle(data-src='holder.js/140x140', alt='140x140', src='images/photo.png', style='width: 140px; height: 140px;')
      h2 Dr. Hannes Ross
        br
        small  Reisen
      //- p
      //-   | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      //- p
      //-   a.btn.btn-default(href='#', role='button') View details »
    .col-lg-3.col-md-4.col-sm-6.member
      img.img-circle(data-src='holder.js/140x140', alt='140x140', src='images/photo.png', style='width: 140px; height: 140px;')
      h2 Peter Fichtner
        br
        small  Ausbildung
      //- p
      //-   | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      //- p
      //-   a.btn.btn-default(href='#', role='button') View details »
    .col-lg-3.col-md-4.col-sm-6.member
      img.img-circle(data-src='holder.js/140x140', alt='140x140', src='images/photo.png', style='width: 140px; height: 140px;')
      h2 Kap. Dirk Homann
        br
        small  Berufliche Kontakte
      //- p
      //-   | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      //- p
      //-   a.btn.btn-default(href='#', role='button') View details »
    .col-lg-3.col-md-4.col-sm-6.member
      img.img-circle(data-src='holder.js/140x140', alt='140x140', src='images/photo.png', style='width: 140px; height: 140px;')
      h2 Elke Timmermann
        br
        small  Veranstaltungen
      //- p
      //-   | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      //- p
      //-   a.btn.btn-default(href='#', role='button') View details »
    .col-lg-3.col-md-4.col-sm-6.member
      img.img-circle(data-src='holder.js/140x140', alt='140x140', src='images/photo.png', style='width: 140px; height: 140px;')
      h2 Dr. Hans-Joachim Stietzel
        br
        small  Kommunale Kontakte
      //- p
      //-   | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      //- p
      //-   a.btn.btn-default(href='#', role='button') View details »
    .col-lg-3.col-md-4.col-sm-6.member
      img.img-circle(data-src='holder.js/140x140', alt='140x140', src='images/photo.png', style='width: 140px; height: 140px;')
      h2 Erich Baumann
        br
        small  Öffentlichkeitsarbeit
      //- p
      //-   | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      //- p
      //-   a.btn.btn-default(href='#', role='button') View details »
    .col-lg-3.col-md-4.col-sm-6.member
      img.img-circle(data-src='holder.js/140x140', alt='140x140', src='images/photo.png', style='width: 140px; height: 140px;')
      h2 Kapt. Wolfgang Gewiese
        br
        small  Fischerei
      //- p
      //-   | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      //- p
      //-   a.btn.btn-default(href='#', role='button') View details »
nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="authenticated")
  .container
    .navbar-left
      p.navbar-text Admininstration
    //- form.navbar-from.navbar-right
    //-   button.btn.btn-default.navbar-btn(ng-click="toogleHtml()")
    //-     | HTML
    //-   button.btn.btn-default.navbar-btn(ng-click="save()")
    //-     i.fa.fa-floppy-o
