.modal(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header(ng-show='title')
        button.close(type='button', ng-click='$hide()') ×
        h4.modal-title(ng-bind='title')
      .modal-body
        form(role='form')
          .form-group
            label(for='name') Name
            input#name.form-control(type='text', ng-model="member.name", placeholder='Name eingeben')
          .form-group
            label(for='job') Zuständigkeit
            input#job.form-control(type='text', ng-model="member.job", placeholder='Zuständigkeit eingeben')
          .form-group
            label(for='position') Position
            input#position.form-control(type='number', ng-model="member.position", placeholder='Position eingeben')
          .form-group
            label.control-label(for="image") Profilbild
            //- https://github.com/nervgh/angular-file-upload
            .input-group
              span.input-group-btn
                //- hide the browsers ugly upload button http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/
                span.btn.btn-success.btn-file(title="Datei auswählen")
                  i.fa.fa-paperclip
                  input(type="file", nv-file-select, uploader="uploader")
              //- just upload last selected file
              input#image.form-control(type="text", title="Anhang", readonly, ng-if="uploader.queue[uploader.queue.length-1].file.name", placeholder='Kein Anhang', ng-model="uploader.queue[uploader.queue.length-1].file.name")
              input#image.form-control(type="text", title="Anhang", readonly, ng-if="!uploader.queue[uploader.queue.length-1].file.name", placeholder='Kein Anhang', ng-model="member.image")
              span.input-group-btn
                button.btn.btn-danger(ng-click="member.image = null", ng-disabled="!member.image", title="Anhang entfernen")
                  i.fa.fa-trash
                button.btn.btn-primary(ng-click="upload(uploader.queue[uploader.queue.length-1], member)", ng-disabled="!uploader.queue[uploader.queue.length-1].file.name", title="Hochladen")
                  i.fa.fa-upload
            .progress(ng-show="uploader.queue[uploader.queue.length-1].file")
              .progress-bar.progress-bar-success(role='progressbar', ng-model="uploader.queue[uploader.queue.length-1].progress", aria-valuenow='{{uploader.queue[uploader.queue.length-1].progress}}', aria-valuemin='0', aria-valuemax='100', ng-style="{ 'width': uploader.queue[uploader.queue.length-1].progress + '%' }")
            label.control-label(for="image") Vorschau
            .img-circle(ng-if="uploader.queue[uploader.queue.length-1].file", ng-thumb="{ file: uploader.queue[uploader.queue.length-1]._file, width: 140, height: 140 }")
            div
              img.img-circle(ng-hide="uploader.queue[uploader.queue.length-1].file", width="140", height="140", ng-src='/images/members/{{member.image}}', style='width: 140px; height: 140px;')
      .modal-footer
        button.btn.btn-primary(type='button', ng-click='save(member);$hide()') Speichern
