.aside-legacy
  .aside-backdrop.am-fade
  .aside.left.am-slide-left(tabindex='-1', role='dialog')
    .aside-dialog
      .aside-content
        .aside-header
          h4.aside-title
            | Menü
        .aside-body.bs-sidebar(bs-navbar)
          ul.nav.bs-sidenav
            li(class= url == "/legacy/home" ? "active" : "")
              a(href= force != null ? '/legacy/home?force='+force : '/legacy/home') Startseite
            li(class= url == "/legacy/members" ? "active" : "")
              a(href= force != null ? '/legacy/members?force='+force : '/legacy/members') Vorstand / Beirat
            li(class= url == "/legacy/events" ? "active" : "")
              a(href= force != null ? '/legacy/events?force='+force : '/legacy/events') Veranstaltungen
            li(class= url == "/legacy/gallery" ? "active" : "")
              a(href= force != null ? '/legacy/gallery?force='+force : '/legacy/gallery') Galerie
            li(class= url == "/legacy/application" ? "active" : "")
              a(href= force != null ? '/legacy/application?force='+force : '/legacy/application') Aufnahmeantrag
            li(class= url == "/legacy/links" ? "active" : "")
              a(href= force != null ? '/legacy/links?force='+force : '/legacy/links') Links
            li(class= url == "/legacy/imprint" ? "active" : "")
              a(href=force != null ? '/legacy/imprint?force='+force : '/legacy/imprint') Impressum
