.container
  .page-header
    h1 Benutzer
  form(role='form', name="form", novalidate, ng-submit="save(user)")
    //-
    //- Name
    //-
    .form-group.has-feedback(ng-class="{'has-error': form.name.$invalid, 'has-success': form.name.$valid}")
      label.control-label(for='name') Name
      .input-group
        .input-group-addon
          i.fa.fa-user
        input#name.form-control(type='text', name="name", required, placeholder='Ihren Namen eingeben', ng-model="user.name")
      span.form-control-feedback(ng-hide="form.name.$error.required", title="Alles Okay!"): i.fa.fa-check
      span.form-control-feedback(ng-show="form.name.$error.required", title="Bitte geben Sie hier Ihren Namen ein."): i.fa.fa-exclamation-triangle
    //-
    //- E-Mail
    //-
    .form-group.has-feedback(ng-class="{'has-error': form.email.$invalid, 'has-success': form.email.$valid}")
      label.control-label(for='email') E-Mail
      .input-group
        .input-group-addon
          i.fa.fa-envelope
        input#email.form-control(type='email', name="email", required, placeholder='Ihre E-Mail-Adresse eingeben', ng-model="user.email")
      span.form-control-feedback(ng-hide="form.email.$error.required || form.email.$error.email", title="Alles Okay!"): i.fa.fa-check
      span.form-control-feedback(ng-show="form.email.$error.required", title="Bitte geben Sie hier Ihre E-Mail-Adresse ein."): i.fa.fa-exclamation-triangle
      span.form-control-feedback(ng-show="form.email.$error.email", title="Dies ist keine korrekte E-Mail-Adresse."): i.fa.fa-exclamation-triangle
    //-
    //- Farbe
    //-
    //- .form-group.has-feedback(ng-class="{'has-error': form.color.$invalid, 'has-success': form.color.$valid}")
    //-   label.control-label(for='color') Farbe
    //-   .input-group
    //-     .input-group-addon
    //-       i.fa.fa-paint-brush
    //-     input#color.form-control(type='text', name="color", required, placeholder='Ihren bevorzugte Benutzerfarbe eingeben', ng-model="user.color")
    //-   span.form-control-feedback(ng-hide="form.color.$error.required", title="Alles Okay!"): i.fa.fa-check
    //-   span.form-control-feedback(ng-show="form.color.$error.required", title="Bitte geben Sie hier Ihre bevorzugte Benutzerfarbe ein."): i.fa.fa-exclamation-triangle
    //-
    //- Passwort
    //-
    .form-group.has-feedback(ng-class="{'has-error': form.password.$invalid, 'has-success': form.password.$valid}")
      label.control-label(for='password') Passwort
      .input-group
        .input-group-addon
          i.fa.fa-key
        input#password.form-control(type='password', name="password", ng-minlength="6", required, placeholder='Ihr neues oder altes Passwort eingeben', ng-model="user.password")
      span.form-control-feedback(ng-hide="form.password.$error.required || form.password.$error.minlength", title="Alles Okay!"): i.fa.fa-check
      span.form-control-feedback(ng-show="form.password.$error.required", title="Bitte geben Sie hier Ihr Passwort ein."): i.fa.fa-exclamation-triangle
      span.form-control-feedback(ng-show="form.password.$error.minlength", title="Das Passwort muss mindestens 6 Zeichen lang sein."): i.fa.fa-exclamation-triangle
    //-
    //- Passwort wiederholen
    //-
    .form-group.has-feedback(ng-class="{'has-error': form.PasswordCompare.$invalid, 'has-success': form.PasswordCompare.$valid}")
      label.control-label(for='PasswordCompare') Passwort wiederholen
      .input-group
        .input-group-addon
          i.fa.fa-key
        input#PasswordCompare.form-control(type='password', name="PasswordCompare", ng-minlength="6", required, data-match="user.password", placeholder='Passwort wiederholen', ng-model="PasswordCompare")
      span.form-control-feedback(ng-hide="form.PasswordCompare.$error.required || form.PasswordCompare.$error.match || form.password.$error.minlength", title="Alles Okay!"): i.fa.fa-check
      span.form-control-feedback(ng-show="form.PasswordCompare.$error.required", title="Bitte geben Sie hier Ihr Passwort erneut ein."): i.fa.fa-exclamation-triangle
      span.form-control-feedback(ng-show="form.PasswordCompare.$error.match", title="Die Passwörter stimmen nicht überein."): i.fa.fa-exclamation-triangle
      span.form-control-feedback(ng-show="form.password.$error.minlength", title="Das Passwort muss mindestens 6 Zeichen lang sein."): i.fa.fa-exclamation-triangle
    button.btn.btn-primary(type="submit", ng-disabled="form.$invalid") Speichern
nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="$root.authenticated")
  .container
    .navbar-left
      p.navbar-text Admininstration
    form.navbar-from.navbar-right
      .btn-group
        button.btn.btn-warning.navbar-btn(ng-if="add", title="Hinzufügen", ng-click="add()")
          i.fa.fa-plus
        button.btn.btn-success.navbar-btn(ng-if="download", title="Herunterladen", ng-click="download()")
          i.fa.fa-download
        button.btn.btn-success.navbar-btn(ng-if="refresh", title="Aktualisieren", ng-click="refresh()")
          i.fa.fa-refresh
        button.btn.btn-success.navbar-btn(ng-if="toogleHtml", title="HTML-Modus umschalten", ng-click="toogleHtml()")
          | HTML
        button.btn.btn-primary.navbar-btn(ng-if="save", title="Speichern", ng-click="save()")
          i.fa.fa-floppy-o
      button.btn.btn-default.navbar-btn(title="Einstellungen", bs-dropdown="adminSettingDropdown", ng-click="$event.stopPropagation();", data-template="bootstrap/dropdown", data-placement="top-left", data-html="true")
        i.fa.fa-cog
