.container
  .page-header
    h1 Benutzer
  table.table.table-hover(ng-if="users.length")
    thead
      tr
        //- th {{ 'Farbe' }}
        th {{ 'E-Mail' }}
        th {{ 'Name' }}
        th {{ 'Aktion' }}
    tbody
      tr(ng-repeat="user in users", ui-sref="bootstrap-layout.user({index: user.id})")
        //- td {{user.color}}
        td {{user.email}}
        td {{user.name}}
        td
          .btn-group
            button.btn.btn-danger.btn-xs(title="Benutzer löschen", ng-click="remove(user);$event.stopPropagation();")
              i.fa.fa-trash
            a.btn.btn-warning.btn-xs(title="Benutzer bearbeiten", ui-sref="bootstrap-layout.user({index: user.id})", ng-click="$event.stopPropagation();")
              i.fa.fa-edit
  a.btn.btn-success(title="Benutzer hinzufügen", ui-sref="bootstrap-layout.new-user")
    i.fa.fa-plus
nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="$root.authenticated")
  .container
    .navbar-left
      p.navbar-text Admininstration
    form.navbar-from.navbar-right
      .btn-group
        button.btn.btn-warning.navbar-btn(ng-if="add", title="Hinzufügen", ng-click="add()")
          i.fa.fa-plus
        button.btn.btn-success.navbar-btn(ng-if="download", title="Herunterladen", ng-click="download()")
          i.fa.fa-download
        button.btn.btn-success.navbar-btn(ng-if="refresh", title="Aktualisieren", ng-click="refresh()")
          i.fa.fa-refresh
        button.btn.btn-success.navbar-btn(ng-if="toogleHtml", title="HTML-Modus umschalten", ng-click="toogleHtml()")
          | HTML
        button.btn.btn-primary.navbar-btn(ng-if="save", title="Speichern", ng-click="save()")
          i.fa.fa-floppy-o
      button.btn.btn-default.navbar-btn(title="Einstellungen", bs-dropdown="adminSettingDropdown", ng-click="$event.stopPropagation();", data-template="bootstrap/dropdown", data-placement="top-left", data-html="true")
        i.fa.fa-cog
