.container(style="min-height: 200px;")
  .page-header
    h1 Anstehende Veranstaltungen
  ul.timeline
    li
      .timeline-badge.success
        i.fa.fa-graduation-cap
      .timeline-panel
        .timeline-heading
          h4.timeline-title Prof. Lange, Meeresverschmutzung und Auswirkung auf den Fisch
          p.text-muted
            i.fa.fa-clock-o
            | Am 20.10.14 um 20:00 Uhr
            br
            i.fa.fa-home
            | Captain Ahabs Culture Club Cuxhaven
        .timeline-body
          //- p
          //-   | Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis.
    li.timeline-inverted
      .timeline-badge.success
        i.fa.fa-graduation-cap
      .timeline-panel
        .timeline-heading
          h4.timeline-title N.N., Probleme durch Schall im Meer
          p.text-muted
            i.fa.fa-clock-o
            | Am 17.11.14 um 20:00 Uhr
            br
            i.fa.fa-home
            | Captain Ahabs Culture Club Cuxhaven
        .timeline-body
          //- p
          //-   | Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis.
    li
      .timeline-badge.success
        i.fa.fa-graduation-cap
      .timeline-panel
        .timeline-heading
          h4.timeline-title Kpt. Pistol, Ein Besuch auf Pitcairn
          p.text-muted
            i.fa.fa-clock-o
            | Am 08.12.14 um 20:00 Uhr
            br
            i.fa.fa-home
            | Captain Ahabs Culture Club Cuxhaven
        .timeline-body
          //- p
          //-   | Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis.
    li.timeline-inverted
      .timeline-badge.success
        i.fa.fa-graduation-cap
      .timeline-panel
        .timeline-heading
          h4.timeline-title P.Bussler, Cuxhavener Gastronomie im Hafen im 19.Jahrhundert
          p.text-muted
            i.fa.fa-clock-o
            | Am 19.01.15 um 20:00 Uhr
            br
            i.fa.fa-home
            | Captain Ahabs Culture Club Cuxhaven
        .timeline-body
          p
            | Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis.
    li
      .timeline-badge.warning
        i.fa.fa-users
      .timeline-panel
        .timeline-heading
          h4.timeline-title Podiumsdiskussion zur aktuellen Situatio in der Schifffahrt
          p.text-muted
            i.fa.fa-clock-o
            | Am 16.02.15 um 20:00 Uhr
            br
            i.fa.fa-home
            | Captain Ahabs Culture Club Cuxhaven
        .timeline-body
          p
            | Mussum ipsum cacilds, vidis litro abertis.
    li.timeline-inverted
      .timeline-badge.info
        img(src="/images/ship_white.svg")
      .timeline-panel
        .timeline-heading
          h4.timeline-title Ostseereise nach Polen, Russland (Königsberg und Pillau), Litauen.
          p.text-muted
            i.fa.fa-clock-o
            | Vom 03.6.15 bis 11.6.15
            br
            i.fa.fa-home
            | Captain Ahabs Culture Club Cuxhaven
        .timeline-body
          p
            | Mussum ipsum cacilds, vidis litro abertis.
  .page-header
    h1 Archiv
  ul.timeline
    li
      .timeline-badge.success
        i.glyphicon.glyphicon-thumbs-up
      .timeline-panel
        .timeline-heading
          h4.timeline-title Mussum ipsum cacilds
        .timeline-body
          p
            | Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="$root.authenticated")
  .container
    .navbar-left
      p.navbar-text Admininstration
    form.navbar-from.navbar-right
      button.btn.btn-default.navbar-btn(ng-show="toogleHtml", ng-click="toogleHtml()")
        | HTML
      button.btn.btn-default.navbar-btn(ng-show="save", ng-click="save()")
        i.fa.fa-floppy-o
      button.btn.btn-default.navbar-btn(ui-sref='bootstrap-layout.administration')
        i.fa.fa-cog
