.container(style="min-height: 200px;")
  .page-header
    h1 Anstehende Veranstaltungen
  ul.timeline
    li(ng-repeat="event in events.after | orderBy:'from'", ng-class="{'timeline-inverted':$index%2}")
      .timeline-badge.success(ng-show="event.type == 'lecture'")
        i.fa.fa-graduation-cap
      .timeline-badge.warning(ng-show="event.type == 'panel discussion'")
        i.fa.fa-users
      .timeline-badge.info(ng-show="event.type == 'travel'")
        img(src="/images/ship_white.svg")
      .timeline-panel
        .timeline-heading
          h4.timeline-title(ng-show="event.title", ng-bind-html="event.title")
          p.text-muted(ng-show="event.person")
            i.fa.fa-user
            span(ng-bind-html="event.person")
          p.text-muted(ng-show="event.from", title="{{event.from | amDateFormat:'dddd Do MMMM YYYY, HH:mm'}} Uhr")
            i.fa.fa-clock-o
            | {{event.from | amCalendar}}
            span(ng-show="event.to")
              |  bis {{event.to | amCalendar}}
          p.text-muted(ng-show="event.place")
            i.fa.fa-home
            span(ng-bind-html="event.place")
        .timeline-body
          p(ng-show="event.download")
            a(href="/{{event.download}}").btn.btn-info: | Weitere Informationen
  .page-header(ng-show="events.before.length > 0")
    h1 Archiv
  ul.timeline(ng-show="events.before.length > 0")
    li(ng-repeat="event in events.before | orderBy:'from':true", ng-class="{'timeline-inverted':$index%2}")
      .timeline-badge.success(ng-show="event.type == 'lecture'")
        i.fa.fa-graduation-cap
      .timeline-badge.warning(ng-show="event.type == 'panel discussion'")
        i.fa.fa-users
      .timeline-badge.info(ng-show="event.type == 'travel'")
        img(src="/images/ship_white.svg")
      .timeline-panel
        .timeline-heading
          h4.timeline-title(ng-show="event.title", ng-bind-html="event.title")
          p.text-muted(ng-show="event.person")
            i.fa.fa-user
            span(ng-bind-html="event.person")
          p.text-muted(ng-show="event.from", title="{{event.from | amDateFormat:'dddd Do MMMM YYYY, HH:mm'}} Uhr")
            i.fa.fa-clock-o
            | {{event.from | amCalendar}}
            span(ng-show="event.to")
              |  bis {{event.to | amCalendar}}
          p.text-muted(ng-show="event.place")
            i.fa.fa-home
            span(ng-bind-html="event.place")
        .timeline-body
          p(ng-show="event.download")
            a(href="/{{event.download}}").btn.btn-info: | Weitere Informationen
nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="$root.authenticated")
  .container
    .navbar-left
      p.navbar-text Admininstration
    form.navbar-from.navbar-right
      button.btn.btn-default.navbar-btn(ng-show="toogleHtml", ng-click="toogleHtml()")
        | HTML
      button.btn.btn-default.navbar-btn(ng-show="save", ng-click="save()")
        i.fa.fa-floppy-o
      button.btn.btn-default.navbar-btn(ui-sref='bootstrap-layout.administration')
        i.fa.fa-cog
