.container
  .page-header
    h1 Einstellungen
  h2 Allgemein
  .media(ng-repeat="theme in themeSettings.available | orderBy:priority")
    .media-left
      img.media-object(ng-src='{{theme.image}}?theme={{theme.dirname}}', alt='{{theme.image}}', style="width:200px;", width="200px")
    .media-body
      h4.media-heading {{theme.name}}
      | {{theme.description}}
    .media-right
      .form-group(style="width:100px;")
        label(for='exampleInputEmail1') Priorität
        input.form-control(type='number', ng-model="theme.priority")
  h2
    a(ui-sref='bootstrap-layout.users') Benutzer
  h2
    a(ng-click="$root.logout()") Abmelden
nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="$root.authenticated")
  .container
    .navbar-left
      p.navbar-text Admininstration
    form.navbar-from.navbar-right
      .btn-group
        button.btn.btn-warning.navbar-btn(ng-if="add", title="Hinzufügen", ng-click="add()")
          i.fa.fa-plus
        button.btn.btn-success.navbar-btn(ng-if="download", title="Herunterladen", ng-click="download()")
          i.fa.fa-download
        button.btn.btn-success.navbar-btn(ng-if="refresh", title="Aktualisieren", ng-click="refresh()")
          i.fa.fa-refresh
        button.btn.btn-success.navbar-btn(ng-if="toogleHtml", title="HTML-Modus umschalten", ng-click="toogleHtml()")
          | HTML
        button.btn.btn-primary.navbar-btn(ng-if="save", title="Speichern", ng-click="save()")
          i.fa.fa-floppy-o
      button.btn.btn-default.navbar-btn(title="Einstellungen", bs-dropdown="adminSettingDropdown", ng-click="$event.stopPropagation();", data-template="bootstrap/dropdown", data-placement="top-left", data-html="true")
        i.fa.fa-cog