.container(style="min-height: 200px;")
  .page-header
    h1 Aufnahmeantrag
  div(ng-show="html && $root.authenticated", ui-ace="{workerPath: '/assets/third-party/ace-builds/src-noconflict', mode: 'html'}", ng-model="application")
  div(ng-show="$root.authenticated", medium-editor, ng-model="application", options='{"buttons": ["bold", "italic", "underline", "anchor", "header1" , "header2", "quote", "orderedlist", "unorderedlist"]}', bind-options="mediumBindOptions")
  div(ng-bind-html="application", ng-hide="$root.authenticated")
  form.hidden-print(role='form', name="form", novalidate, ng-submit="upload()")
    //-
    //- Name
    //-
    .form-group.has-feedback(ng-class="{'has-error': form.name.$invalid, 'has-success': form.name.$valid}")
      label.control-label(for='name') Name
      .input-group
        .input-group-addon
          i.fa.fa-user
        input#name.form-control(type='text', name="name", placeholder='Name eingeben', required, ng-model="member.name")
      span.form-control-feedback(ng-hide="form.name.$error.required", title="Alles Okay!"): i.fa.fa-check
      span.form-control-feedback(ng-show="form.name.$error.required", title="Bitte geben Sie hier Ihren Namen ein."): i.fa.fa-exclamation-triangle
    //-
    //- Vorname
    //-
    .form-group.has-feedback(ng-class="{'has-error': form.vorname.$invalid, 'has-success': form.vorname.$valid}")
      label.control-label(for='vorname') Vorname
      .input-group
        .input-group-addon
          i.fa.fa-user
        input#vorname.form-control(type='text', name="vorname", placeholder='Vorname eingeben', required, ng-model="member.vorname")
      span.form-control-feedback(ng-hide="form.vorname.$error.required", title="Alles Okay!"): i.fa.fa-check
      span.form-control-feedback(ng-show="form.vorname.$error.required", title="Bitte geben Sie hier Ihren Vorname ein."): i.fa.fa-exclamation-triangle
    //-
    //- Geburtstag
    //-
    .form-group.has-feedback(ng-class="{'has-error': form.geburtstag.$invalid || form.geburtstag.$error.date || form.geburtstag.$error.min || form.geburtstag.$error.max, 'has-success': form.geburtstag.$valid}")
      label.control-label(for='geburtstag') Geburtstag
      .input-group
        .input-group-addon
          i.fa.fa-birthday-cake
        //- data-min-date="{{maxBirthdayDate}}", data-max-date="{{minBirthdayDate}}"
        //- input#geburtstag.form-control(type='text', name="geburtstag", placeholder='Geburtstag eingeben', required, ng-model="member.geburtstag", data-template="bootstrap/datepicker", data-start-view="2", bs-datepicker='bs-datepicker')
        input#geburtstag.form-control(type='text', name="geburtstag", placeholder='Geburtstag eingeben', required, ng-model="member.geburtstag")
      span.form-control-feedback(ng-hide="form.geburtstag.$error.required || form.geburtstag.$error.date", title="Alles Okay!"): i.fa.fa-check
      span.form-control-feedback(ng-show="form.geburtstag.$error.required", title="Bitte geben Sie hier Ihren Geburtstag ein."): i.fa.fa-exclamation-triangle
      span.form-control-feedback(ng-show="form.geburtstag.$error.date", title="Dies ist keine korrekte Datumsangabe."): i.fa.fa-exclamation-triangle
      span.form-control-feedback(ng-show="form.geburtstag.$error.max", title="Sie müssen mindestens {{minYearsOld}} Jahre alt sein."): i.fa.fa-exclamation-triangle
      span.form-control-feedback(ng-show="form.geburtstag.$error.min", title="Sie dürfen maximal {{maxYearsOld}} Jahre alt sein."): i.fa.fa-exclamation-triangle
    //-
    //- Geburtsort
    //-
    .form-group.has-feedback(ng-class="{'has-error': form.geburtsort.$invalid, 'has-success': form.geburtsort.$valid}")
      label.control-label(for='geburtsort') Geburtsort
      .input-group
        .input-group-addon
          i.fa.fa-map-marker
        input#geburtsort.form-control(type='text', name="geburtsort", placeholder='Geburtsort eingeben', required, ng-model="member.geburtsort")
      span.form-control-feedback(ng-hide="form.geburtstag.$error.required", title="Alles Okay!"): i.fa.fa-check
      span.form-control-feedback(ng-show="form.geburtstag.$error.required", title="Bitte geben Sie hier Ihren Geburtstag ein."): i.fa.fa-exclamation-triangle
    //-
    //- E-Mail
    //-
    .form-group.has-feedback(ng-class="{'has-error': form.email.$invalid, 'has-success': form.email.$valid}")
      label.control-label(for='email') E-Mail
      .input-group
        .input-group-addon
          i.fa.fa-envelope
        input#email.form-control(type='email', name="email", placeholder='E-Mail eingeben', required, ng-model="member.email")
      span.form-control-feedback(ng-hide="form.email.$error.required || form.email.$error.email", title="Alles Okay!"): i.fa.fa-check
      span.form-control-feedback(ng-show="form.email.$error.required", title="Bitte geben Sie hier Ihre E-Mail-Adresse ein."): i.fa.fa-exclamation-triangle
      span.form-control-feedback(ng-show="form.email.$error.email", title="Dies ist keine korrekte E-Mail-Adresse."): i.fa.fa-exclamation-triangle
    //-
    //- Telefon
    //-
    .form-group.has-feedback(ng-class="{'has-error': form.telefon.$invalid, 'has-success': form.telefon.$valid}")
      label.control-label(for='telefon') Telefon
      .input-group
        .input-group-addon
          i.fa.fa-phone
        input#telefon.form-control(type='text', name="telefon", placeholder='Telefon eingeben', required, ng-model="member.telefon")
      span.form-control-feedback(ng-hide="form.telefon.$error.required", title="Alles Okay!"): i.fa.fa-check
      span.form-control-feedback(ng-show="form.telefon.$error.required", title="Bitte geben Sie hier Ihre Telefonnummer ein."): i.fa.fa-exclamation-triangle
    //-
    //- Beruf
    //-
    .form-group.has-feedback(ng-class="{'has-error': form.beruf.$invalid, 'has-success': form.beruf.$valid}")
      label.control-label(for='beruf') Beruf
      .input-group
        .input-group-addon
          i.fa.fa-gavel
        input#beruf.form-control(type='text', name="beruf", placeholder='Beruf eingeben', required, ng-model="member.beruf")
      span.form-control-feedback(ng-hide="form.beruf.$error.required", title="Alles Okay!"): i.fa.fa-check
      span.form-control-feedback(ng-show="form.beruf.$error.required", title="Bitte geben Sie hier Ihren Beruf ein."): i.fa.fa-exclamation-triangle
    //-
    //- Straße
    //-
    .form-group.has-feedback(ng-class="{'has-error': form.strasse.$invalid, 'has-success': form.strasse.$valid}")
      label.control-label(for='strasse') Straße mit Hausnummer
      .input-group
        .input-group-addon
          i.fa.fa-map-marker
        input#strasse.form-control(type='text', name="strasse", placeholder='Straße eingeben', required, ng-model="member.strasse")
      span.form-control-feedback(ng-hide="form.strasse.$error.required", title="Alles Okay!"): i.fa.fa-check
      span.form-control-feedback(ng-show="form.strasse.$error.required", title="Bitte geben Sie Ihren Straßennamen und Ihre Hausnummer hier ein."): i.fa.fa-exclamation-triangle
    //-
    //- Postleitzahl
    //-
    .form-group.has-feedback(ng-class="{'has-error': form.plz.$invalid, 'has-success': form.plz.$valid}")
      label.control-label(for='plz') Postleitzahl
      .input-group
        .input-group-addon
          i.fa.fa-map-marker
        input#plz.form-control(type='text', name="plz", placeholder='Postleitzahl eingeben', required, ng-model="member.plz")
      span.form-control-feedback(ng-hide="form.plz.$error.required", title="Alles Okay!"): i.fa.fa-check
      span.form-control-feedback(ng-show="form.plz.$error.required", title="Bitte geben Sie hier Ihre Postleitzahl ein."): i.fa.fa-exclamation-triangle
    //-
    //- Wohnort
    //-
    .form-group.has-feedback(ng-class="{'has-error': form.ort.$invalid, 'has-success': form.ort.$valid}")
      label.control-label(for='ort') Wohnort
      .input-group
        .input-group-addon
          i.fa.fa-map-marker
        input#ort.form-control(type='text', name="ort", placeholder='Ort eingeben', required, ng-model="member.ort")
      span.form-control-feedback(ng-hide="form.ort.$error.required", title="Alles Okay!"): i.fa.fa-check
      span.form-control-feedback(ng-show="form.ort.$error.required", title="Bitte geben Sie hier Ihren Wohnort ein."): i.fa.fa-exclamation-triangle
    //-
    //- Bankname
    //-
    .form-group.has-feedback(ng-class="{'has-error': form.bankname.$invalid, 'has-success': form.bankname.$valid}")
      label.control-label(for='bankname') Bankname
      .input-group
        .input-group-addon
          i.fa.fa.fa-university
        input#bankname.form-control(type='text', name="bankname", placeholder='Bankname eingeben', required, ng-model="member.bank.name")
      span.form-control-feedback(ng-hide="form.bankname.$error.required", title="Alles Okay!"): i.fa.fa-check
      span.form-control-feedback(ng-show="form.bankname.$error.required", title="Bitte geben Sie hier Ihren Banknamen ein."): i.fa.fa-exclamation-triangle
    //-
    //- IBAN
    //-
    .form-group.has-feedback(ng-class="{'has-error': form.iban.$invalid, 'has-success': form.iban.$valid}")
      label.control-label(for='iban') IBAN
      .input-group
        .input-group-addon
          i.fa.fa-university
        input#iban.form-control(type='text', name="iban", placeholder='IBAN eingeben', required, ng-model="member.bank.iban")
      span.form-control-feedback(ng-hide="form.iban.$error.required", title="Alles Okay!"): i.fa.fa-check
      span.form-control-feedback(ng-show="form.iban.$error.required", title="Bitte geben Sie hier Ihre IBAN ein."): i.fa.fa-exclamation-triangle
    //-
    //- BIC
    //-
    .form-group.has-feedback(ng-class="{'has-error': form.bic.$invalid, 'has-success': form.bic.$valid}")
      label.control-label(for='bic') BIC
      .input-group
        .input-group-addon
          i.fa.fa-university
        input#bic.form-control(type='text', name="bic", placeholder='BIC eingeben', required, ng-model="member.bank.bic")
      span.form-control-feedback(ng-hide="form.bic.$error.required", title="Alles Okay!"): i.fa.fa-check
      span.form-control-feedback(ng-show="form.bic.$error.required", title="Bitte geben Sie hier Ihre BIC ein."): i.fa.fa-exclamation-triangle
    button.btn.btn-primary(type="submit", ng-disabled="form.$invalid") Absenden
  div(ng-show="$root.authenticated")
    h2 Vorschau (nur für Administratoren sichtbar)
    #odf
      webodfview(data-file="/aufnahmeantrag.odt", data-invoice="member", data-upload="webodf.upload", data-refresh="webodf.refresh", data-ready="webodf.ready", data-download="webodf.download")
nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="$root.authenticated")
  .container
    .navbar-left
      p.navbar-text Admininstration
    form.navbar-from.navbar-right
      .btn-group
        button.btn.btn-warning.navbar-btn(ng-if="add", title="Hinzufügen", ng-click="add()")
          i.fa.fa-plus
        button.btn.btn-success.navbar-btn(ng-if="download", title="Herunterladen", ng-click="download()")
          i.fa.fa-download
        button.btn.btn-success.navbar-btn(ng-if="refresh", title="Aktualisieren", ng-click="refresh()")
          i.fa.fa-refresh
        button.btn.btn-success.navbar-btn(ng-if="toogleHtml", title="HTML-Modus umschalten", ng-click="toogleHtml()")
          | HTML
        button.btn.btn-primary.navbar-btn(ng-if="save", title="Speichern", ng-click="save()")
          i.fa.fa-floppy-o
      button.btn.btn-default.navbar-btn(title="Einstellungen", bs-dropdown="adminSettingDropdown", ng-click="$event.stopPropagation();", data-template="bootstrap/dropdown", data-placement="top-left", data-html="true")
        i.fa.fa-cog
