extends ../layout.jade
block body
  include ../toolbar.jade
  .container(style="min-height: 200px;")
    .page-header
      h1 Vorstand / Beirat
    .row(style='text-align: center;')
       each member in members
        .col-lg-3.col-md-4.col-sm-6.member
          img.img-circle(alt=!member.name, src='/images/members/'+member.image, style='width: 140px; height: 140px;')
          h2
            div!= member.name
            small!= member.job
  include ../footer.jade
