#top(style="margin-top: -20px;width: 100%;")
  ul.image(rn-carousel, rn-carousel-indicator, rn-carousel-control, rn-carousel-auto-slide="10", style="width: 100%;")
    li
      img(src="/assets/images/header/1.jpg", style="width: 100%;")
    li
      img(src="/assets/images/header/2.jpg", style="width: 100%;")
    li
      img(src="/assets/images/header/3.jpg", style="width: 100%;")
    li
      img(src="/assets/images/header/4.jpg", style="width: 100%;")
    li
      img(src="/assets/images/header/5.jpg", style="width: 100%;")
.container(style="min-height: 200px;")
  .row
    .col-md-2.hidden-sm.hidden-xs
      .bs-sidebar(hidden-print, role="complementary", data-offset-top="-50", bs-affix)
        ul.nav.bs-sidenav
          li(data-target="#top", bs-scrollspy, data-offset="40")
            a(ng-click="goTo('top')") Startseite
          li(data-target="#about", bs-scrollspy, data-offset="40")
            a(ng-click="goTo('about')") Wir über uns
          li(data-target="#goals", bs-scrollspy, data-offset="40")
            a(ng-click="goTo('goals')") Ziele
    .col-md-10
      h1.anchor-static-navbar#about
      .page-header
        h1 Wir über uns
      div(ng-show="html && $root.authenticated", ui-ace="{workerPath: '/assets/third-party/ace-builds/src-noconflict', mode: 'html'}", ng-model="about")
      div(ng-show="$root.authenticated", medium-editor, ng-model="about", options='{"buttons": ["bold", "italic", "underline", "anchor", "header1" , "header2", "quote", "orderedlist", "unorderedlist"]}', bind-options="mediumBindOptions")
      div(ng-bind-html="about", ng-hide="$root.authenticated")
      h1.anchor-static-navbar#goals
      .page-header
        h1 Unsere Ziele
      div(ng-show="html && $root.authenticated", ui-ace="{workerPath: '/assets/third-party/ace-builds/src-noconflict', mode: 'html'}", ng-model="goals")
      div(ng-show="$root.authenticated", medium-editor, ng-model="goals", options='{"buttons": ["bold", "italic", "underline", "anchor", "header1" , "header2", "quote", "orderedlist", "unorderedlist"]}', bind-options="mediumBindOptions")
      div(ng-bind-html="goals", ng-hide="$root.authenticated")
nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="$root.authenticated")
  .container
    .navbar-left
      p.navbar-text Admininstration
    form.navbar-from.navbar-right
      .btn-group
        button.btn.btn-warning.navbar-btn(ng-if="add", title="Hinzufügen", ng-click="add()")
          i.fa.fa-plus
        button.btn.btn-success.navbar-btn(ng-if="download", title="Herunterladen", ng-click="download()")
          i.fa.fa-download
        button.btn.btn-success.navbar-btn(ng-if="refresh", title="Aktualisieren", ng-click="refresh()")
          i.fa.fa-refresh
        button.btn.btn-success.navbar-btn(ng-if="toogleHtml", title="HTML-Modus umschalten", ng-click="toogleHtml()")
          | HTML
        button.btn.btn-primary.navbar-btn(ng-if="save", title="Speichern", ng-click="save()")
          i.fa.fa-floppy-o
      button.btn.btn-default.navbar-btn(title="Einstellungen", bs-dropdown="adminSettingDropdown", ng-click="$event.stopPropagation();", data-template="bootstrap/dropdown", data-placement="top-left", data-html="true")
        i.fa.fa-cog
