.container(style="min-height: 200px;")
  .row
    .col-md-2.hidden-sm.hidden-xs
      .bs-sidebar(hidden-print, role="complementary", data-offset-top="-50", bs-affix)
        ul.nav.bs-sidenav
          li(data-target="#imprint", bs-scrollspy, data-offset="30")
            a(ng-click="goTo('imprint')") Impressum
          li(data-target="#contact", bs-scrollspy, data-offset="30")
            a(ng-click="goTo('contact')") Kontakt
          li(data-target="#approach", bs-scrollspy, data-offset="30")
            a(ng-click="goTo('approach')") Anfahrt
    .col-md-10
      h1.anchor-static-navbar#imprint
      .page-header
        h1 Impressum
      div(ng-show="html && authenticated", ng-model="imprint", ui-ace="{workerPath: '/assets/third-party/ace-builds/src-noconflict', mode: 'html'}")
      div(ng-show="authenticated", medium-editor, ng-model="imprint", options='{"buttons": ["bold", "italic", "underline", "anchor", "header1" , "header2", "quote", "orderedlist", "unorderedlist"]}', bind-options="mediumBindOptions")
      div(ng-bind-html="imprint", ng-hide="authenticated")
      h1.anchor-static-navbar#contact
      .page-header.hidden-print
        h1 Kontakt
      form.hidden-print(role='form', name="form", novalidate, ng-submit="sendMail()")
        //-
        //- Name
        //-
        .form-group.has-feedback(ng-class="{'has-error': form.name.$invalid, 'has-success': form.name.$valid}")
          label.control-label(for='name') Name
          .input-group
            .input-group-addon
              i.fa.fa-user
            input#name.form-control(type='text', name="name", required, placeholder='Ihren Namen eingeben', ng-model="email.name")
          span.form-control-feedback(ng-hide="form.name.$error.required", title="Alles Okay!"): i.fa.fa-check
          span.form-control-feedback(ng-show="form.name.$error.required", title="Bitte geben Sie hier Ihren Namen ein."): i.fa.fa-exclamation-triangle
        //-
        //- E-Mail
        //-
        .form-group.has-feedback(ng-class="{'has-error': form.from.$invalid, 'has-success': form.from.$valid}")
          label.control-label(for='from') E-Mail
          .input-group
            .input-group-addon
              i.fa.fa-envelope
            input#from.form-control(type='email', name="from", required, placeholder='Ihre E-Mail-Adresse eingeben', ng-model="email.from")
          span.form-control-feedback(ng-hide="form.from.$error.required || form.from.$error.email", title="Alles Okay!"): i.fa.fa-check
          span.form-control-feedback(ng-show="form.from.$error.required", title="Bitte geben Sie hier Ihre E-Mail-Adresse ein."): i.fa.fa-exclamation-triangle
          span.form-control-feedback(ng-show="form.from.$error.email", title="Dies ist keine korrekte E-Mail-Adresse."): i.fa.fa-exclamation-triangle
        //-
        //- Betreff
        //-
        .form-group.has-feedback(ng-class="{'has-error': form.subject.$invalid, 'has-success': form.subject.$valid}")
          label.control-label(for='subject') Betreff
          .input-group
            .input-group-addon
              i.fa.fa-info
            input#subject.form-control(type='text', name="subject", required, placeholder='Betreff eingeben', ng-model="email.subject")
          span.form-control-feedback(ng-hide="form.subject.$error.required", title="Alles Okay!"): i.fa.fa-check
          span.form-control-feedback(ng-show="form.subject.$error.required", title="Bitte geben Sie hier Ihren Betreff ein."): i.fa.fa-exclamation-triangle
        //-
        //- Nachricht
        //-
        .form-group.has-feedback(ng-class="{'has-error': form.content.$invalid, 'has-success': form.content.$valid}")
          label.control-label(for='content') Nachricht
          .textarea.form-control#content(type='text', medium-editor, name="content", required, ng-model="email.content", options='{"placeholder": "Inhalt eingeben","buttons": ["bold", "italic", "underline", "anchor", "header1" , "header2", "quote", "orderedlist", "unorderedlist"]}', bind-options="mediumBindOptions")
          span.form-control-feedback(ng-hide="form.content.$error.required", title="Alles Okay!"): i.fa.fa-check
          span.form-control-feedback(ng-show="form.content.$error.required", title="Bitte geben Sie hier Ihre Nachricht ein."): i.fa.fa-exclamation-triangle
        button.btn.btn-primary(type="submit", ng-disabled="form.$invalid") Absenden
      h1.anchor-static-navbar#approach
      .page-header
        h1 Anfahrt
      .row
        .col-xs-12
          leaflet(center="nvc", markers="markers", height="480px", width="100%")
nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="$root.authenticated")
  .container
    .navbar-left
      p.navbar-text Admininstration
    form.navbar-from.navbar-right
      .btn-group
        button.btn.btn-warning.navbar-btn(ng-if="add", title="Hinzufügen", ng-click="add()")
          i.fa.fa-plus
        button.btn.btn-success.navbar-btn(ng-if="download", title="Herunterladen", ng-click="download()")
          i.fa.fa-download
        button.btn.btn-success.navbar-btn(ng-if="refresh", title="Aktualisieren", ng-click="refresh()")
          i.fa.fa-refresh
        button.btn.btn-success.navbar-btn(ng-if="toogleHtml", title="HTML-Modus umschalten", ng-click="toogleHtml()")
          | HTML
        button.btn.btn-primary.navbar-btn(ng-if="save", title="Speichern", ng-click="save()")
          i.fa.fa-floppy-o
      button.btn.btn-default.navbar-btn(title="Einstellungen", bs-dropdown="adminSettingDropdown", ng-click="$event.stopPropagation();", data-template="bootstrap/dropdown", data-placement="top-left", data-html="true")
        i.fa.fa-cog

